{%  extends 'base.html.twig' %}
{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<!--Content from viewer-->
	<div id="calendar" class="calendar main-content-calendar">

		<div class="main-content-calendar-inner">
			<div class="main-content-calendar-inner-calendar">

				<!--CALENDAR-->
				<div class="main-content-calendar-inner-calendar-calendar">
					<div id="calendar">
						{#		Dynamic content	from database			#}
					</div>
				</div>

			</div>

		</div>
	</div>

	<!--ADD EVENT-->
	<div class="main-content-event user_event_add  ">

		<div id="event" class="event">

			<div class="event-new">

				<div class="form">

					<form class="form-group" method="post" enctype="multipart/form-data">

						<div class="form-group-error my-alert my-alert-danger" id="eventFormError_js">
						</div>

						<input type="hidden" name="id" id="id">
						<div class="form-group-item">
							<label for="title">Titre*</label>
							<input type="text" name="title" id="title" placeholder="Titre">
						</div>

						<div class="form-group-item checkbox" id="all_days_js">
							<input type="checkbox" name="all_days" id="all_days">
							<label for="all_days">Toute la journée</label>
						</div>

						<div class="form-group-group ">

							<div class="form-group-item form-group-datetime">

								<div class="">
									<label for="start_at">Début*</label>
									<input type="date" name="start_at" id="start_at" placeholder="Début">
								</div>

								<div class="">
									<label for="start_at_time">Heure*</label>
									<input type="time" name="start_at_time" id="start_at_time" placeholder="Heure">
								</div>

							</div>

							<div class="form-group-item form-group-datetime">

								<div class="">
									<label for="end_at">Fin*</label>
									<input type="date" name="end_at" id="end_at" placeholder="Début">
								</div>

								<div class="">
									<label for="end_at_time">Heure*</label>
									<input type="time" name="end_at_time" id="end_at_time" placeholder="Heure">
								</div>

							</div>
							<!-- PROTECTION FRONT-END -->
							<div class="form-group-item form-group-datetime">
							</div>

						</div>

						<div class="form-group-item">
							<label for="description">Description*</label>
							<textarea name="description" id="description" cols="10" rows="2" placeholder="Description de l'événement"></textarea>
						</div>

						<div class="form-group-item">
							<div class="member_list" id="select2-viewer-members_js">
							</div>

							<label for="members">Inviter les membres</label>
							<select name="members" id="members" class="select2 members multiple_select2_js" multiple="multiple">
							</select>
						</div>

						<div class="form-group-item">
							<label for="location">Lieu</label>
							<input type="text" name="location" id="location" placeholder="Lieu. Ex : Strasbourg, Salle B3, Amphi Duramana (;--|)">
						</div>


						<div class="form-group-item">
							<label for="location">Choisissez une couleur de fond</label>
							<select  id="backgroundColor" name="backgroundColor">
								<option value="#4361EE">Bleue</option>
								<option value="#67C23A">Verte</option>
								<option value="#F56C6C">Rouge</option>
								<option value="#7209B7">Violette</option>
							</select>
						</div>

						<div class="form-group-item checkbox" id="shared_js">
							<input type="checkbox" name="shared" id="shared">
							<label for="shared">Partager votre événement</label>
						</div>

						<div class="form-group-item checkbox" id="allow_modify_js">
							<input type="checkbox" name="allow_modify" id="allow_modify">
							<label for="allow_modify">Permission aux modifications </label>
						</div>

						<div class="form-group-item">
							<small>* Champs obligatoires</small>
						</div>

						<div class="form-group-item">
							<button class="my-btn" id="user_event_add_return_btn_js"><i class="fal fa-backspace"></i></button>
							<button class="my-btn my-btn-danger" id="user_event_add_delete_btn_js"><i class="fal fa-trash-alt"></i></button>
							<button type="submit"  id="user_event_add_save_btn_js" class="my-btn my-btn-success"><i class="fal "></i></button>
						</div>

					</form>

				</div>
			</div>

		</div>

	</div>

	<!--ADD EVENT BTN -->
	{% if events is defined %}
		<div class="main-add-event-btn_css">
			<a class="add_event_js">
				<i class="far fa-calendar-plus"></i>
			</a>
		</div>
	{% endif %}

{%  endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
	<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>

	<script src="{{ asset('js/fullCalendar.js') }}"></script>

	<script>
		fullCalendarInit({{ events | raw }})
	</script>

{% endblock %}

