
{%  extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}

	<!--Content from viewer-->
	<div id="dashboard-u" class="dashboard-u main-content-dashboard">

		<div class="main-content-dashboard-inner">

			<!--Breadcrumb-->
			<div class="main-content-dashboard-inner-breadcrumb">
				<p>Bienvenu <strong>{{ app.user.name|upper  }}</strong>,</p>
			</div>

			<!--Statistic-->
			<div class="main-content-dashboard-inner-statistic">

				<div class="statistic">

					<!--USERS-->
					<div class="statistic-card card-user">
						<p><i class="fal fa-user-circle"></i></p>
						<div class="statistic-detail">
							<p>Nombre total de profils</p>
							<h3>{{ statistic.users | length }}</h3>
						</div>
					</div>

					<!--CONTACTS-->
					<div class="statistic-card card-contact">
						<p><i class="far fa-address-book"></i></p>
						<div class="statistic-detail">
							<p>Nombre total de contacts</p>
							<h3>{{ statistic.contacts| length }}</h3>
						</div>
					</div>

					<!--EVENTS-->
					<div class="statistic-card card-event">
						<p><i class="fal fa-calendar-day"></i></p>
						<div class="statistic-detail">
							<p>Nombre total d'événements</p>
							<h3>{{ statistic.events| length }}</h3>
						</div>
					</div>

					<!--MEMBERS-->
					<div class="statistic-card card-member">
						<p><i class="fal fa-object-group"></i></p>
						<div class="statistic-detail">
							<p>Nombre total de categories</p>
							<h3>{{ statistic.categories| length }}</h3>
						</div>
					</div>

				</div>

			</div>

			<!--DAILY-->
			<div class="main-content-dashboard-inner-body">

				<!--LEFT-->
				<div class="main-content-dashboard-inner-body-left">

					<!--TODAY-->
					<div class="main-content-dashboard-inner-body-left-today">

						<!--DATE SIDE-->
						<div class="current-top">
							<h2>{{ today.day }}</h2>
							<h5>{{ today.days }}</h5>
							<p>{{ today.month}} {{ today.year}}</p>
						</div>

						<!--EVENT SIDE-->
						{% if nearest_events  %}
							<div class="current-bottom">
								<!--EVENTS-->
								{% for today_event in nearest_events | sort((a,b)=> (a.startAtDate | date("d/m") > b.startAtDate | date("d/m")) ) %}
									<div class="current-bottom-event {{ (today_event.startAtDate | date("d/m/Y") == 'now' | date("d/m/Y"))?'today':''  }}">

										<p class="current-bottom-event-hour">
											<i class="fal fa-clock"></i>
											<small>{{ today_event.startAtDate  |date('H:i') }} - {{ today_event.endAtDate  |date('H:i') }}</small>
										</p>

										<h3><strong>{{ today_event.title }}</strong></h3>
										<p>{{ today_event.description }}</p>

										{% if today_event.location %}
											<p><i class="fal fa-map-marker-alt"></i>{{ today_event.location }}</p>
										{%  endif %}

										<div class="current-bottom-event-members">
											<!--MEMBER-->
											{% if today_event.members| length > 0 %}
												<div class="current-bottom-event-members">
													{% for member in today_event.members %}
														<!--MEMBER-->
														<div class="current-bottom-event-members-img">
															{% if member.picture %}
																<img src="{{ vich_uploader_asset(member, 'imageFile') }}" alt="image de {{ member.picture }}">
															{% else %}
																<img src="/images/profile/default/{{ member.picture??"man.jpg" }}" alt="image de {{ member.picture }}">
															{% endif %}
														</div>
													{% endfor %}
													<p> Membres</p>
												</div>
											{% endif %}
										</div>
									</div>
								{% endfor %}
							</div>
						{% else %}

						{% endif %}

					</div>

					<!--CALENDAR-->
					<div class="main-content-dashboard-inner-body-left-calendar">
						<div id="calendar"></div>
					</div>

				</div>

				<!--RIGHT-->
				<div class="main-content-dashboard-inner-body-right">

					<!--PROFILE SHORT VIEW-->
					<div class="main-content-dashboard-inner-body-right-profile">

						<!--PROFILE TITLE-->
						<div class="main-content-dashboard-inner-body-right-profile-title">
							<h3>Profil</h3>
						</div>

						<!--PROFILE BODY-->
						<div class="main-content-dashboard-inner-body-right-profile-body">

							<div class="main-content-dashboard-inner-body-right-profile-body-img">
								<div>
									{% if app.user.picture %}
										<img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="image de {{ app.user.picture }}">
									{% else %}
										<img src="/images/profile/default/man.jpg" alt="image de {{ app.user.picture }}">
									{% endif %}
								</div>
							</div>

							<div class="main-content-dashboard-inner-body-right-profile-body-names">
								<h4>{{ app.user.name|upper }} {{ app.user.lastname|capitalize }}</h4>
								<p>{{ app.user.jobtitle }}</p>
							</div>

							<hr>

							<div class="main-content-dashboard-inner-body-right-profile-body-stat">
								<!--CONTACTS ADDED BY THIS USERS-->
								<div id="profile-user">
									<i class="far fa-address-book"></i>
									<p>{{ app.user.contacts|length }}</p>
								</div>

								<!--MEMBERS ADDED BY THIS USERS-->
								<div id="profile-member">
									<i class="fal fa-users"></i>
									<p>{{ app.user.memberOfEvents|length }}</p>
								</div>

								<!--EVENTS ADDED BY THIS USERS-->
								<div id="profile-event">
									<i class="fal fa-calendar-day"></i>
									<p>{{ app.user.events | length }}</p>
								</div>
							</div>

						</div>

					</div>

					<!--CONTACTS NEW-->
					<div class="main-content-dashboard-inner-body-right-cont">
						<!--DATE SIDE-->
							<div class="current-top">
								<h3>Nouveaux contacts ajoutés</h3>
							</div>

						<!--EVENT SIDE-->
						{% if contacts | length > 0 %}

							<div class="current-bottom">
								<!--EVENTS-->
								{% for contact in contacts %}
									<div class="current-bottom-contact">

										<h3>
											<i class="fal fa-user"></i>
											<span>{{ contact.names }}</span>
										</h3>

										<p class="current-bottom-event-hour">
											<i class="fal fa-mobile-android"></i>
											<a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
										</p>

										<p>
											<i class="fal fa-at"></i>
											<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
										</p>

										{% if contact.category %}
											<p>
												<i class="fal fa-building"></i>
												<span>{{ contact.category.category }}</span>
											</p>
										{% endif %}

									</div>
								{% endfor %}
							</div>

						{% else %}
							<div class="current-bottom">
								<div class="current-bottom-contact">
									<p>Pas de nouveau contact</p>
								</div>
							</div>
						{% endif %}

					</div>

				</div>

			</div>

		</div>

	</div>

{%  endblock %}

{% block javascripts %}
	{{ parent() }}

	<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"
			integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw="
			crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css"
		  integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA="
		  crossorigin="anonymous">

	<link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css'
		  rel='stylesheet'>

	<script src="{{ asset('js/fullCalendar.js') }}"></script>

	<script>
		fullCalendarInit({{ events | raw }}, true);
	</script>

{% endblock %}