@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* TITLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

/* CONTAINER*/
.my-container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 1rem;
}

/* BOUTTONS*/
.my-btn {
  display: block;
  border: none;
  padding: 0.7rem 0.8rem;
  border-radius: 0.2rem;
  box-shadow: 0px 2px 3px rgba($color: $dark-color, $alpha: 0.3);
  background-color: $grey-color;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: $dark-color;
  &:hover {
    background-color: rgba($default-color, 0.4);
  }

  &-primary {
    @include my-btn($primary-color);
  }
  &-secondary {
    @include my-btn($secondary-color);
  }
  &-default {
    @include my-btn($default-color);
  }
  &-success {
    @include my-btn($success-color);
  }
  &-danger {
    @include my-btn($danger-color);
  }
  &-warning {
    @include my-btn($warning-color);
  }

  //OUTLINE

  &-primary-outline {
    @include my-btn-outline($primary-color);
  }
  &-secondary-outline {
    @include my-btn-outline($secondary-color);
  }
  &-default-outline {
    @include my-btn-outline($default-color);
  }
  &-success-outline {
    @include my-btn-outline($success-color);
  }
  &-danger-outline {
    @include my-btn-outline($danger-color);
  }
  &-warning-outline {
    @include my-btn-outline($warning-color);
  }
}


/* ALERT*/
.my-alert {
  display: block;
  padding: 1rem 0.8rem;
  border-radius: 0.2rem;
  background-color: $grey-color;
  text-align: center;
  color: $dark-color;

  &-primary {
    @include alert($primary-color);
  }
  &-secondary {
    @include alert($secondary-color);
  }
  &-default {
    @include alert($default-color);
  }
  &-success {
    @include alert($success-color);
  }
  &-danger {
    @include alert($danger-color);
  }
  &-warning {
    @include alert($warning-color);
  }

  //OUTLINE

  &-primary-outline {
    @include alert-outline($primary-color);
  }
  &-secondary-outline {
    @include alert-outline($secondary-color);
  }
  &-default-outline {
    @include alert-outline($default-color);
  }
  &-success-outline {
    @include alert-outline($success-color);
  }
  &-danger-outline {
    @include alert-outline($danger-color);
  }
  &-warning-outline {
    @include alert-outline($warning-color);
  }
}

//TOAST

.returnMessage {
  min-width : 350px;
  margin: 0 auto;
}

/*IMAGES*/
img {
  display: block;
  width: 100%;
  &.rounded {
    clip-path: circle(30px at 35px 35px);
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}
/*FORMULAR*/

input,
button,
textarea,
select {
  outline: none;
  margin: 0.3rem 0;
  padding: 0.7rem 0.5rem;
  border-radius: 0.1rem;
  border: none;
  transition: all 0.3s ease-in-out;
}

button {
  padding: 0.7rem 1.2rem;
  box-shadow: 0 2px 3px rgba($color: $dark-color, $alpha: 0.3);
  display: block;
  &:hover {
    background-color: rgba($color: $dark-color, $alpha: 0.3);
  }
}

/*FORMULAR*/
.form {
  min-width: 360px; //TODO to change later
  &-title {
    background-color: $segundo-color;
    padding: 0.5rem 1rem;
    color: $white-color;
    text-align: center;
  }

  &-group {
    padding: 1rem;
    background-color: rgba($color: $grey-color, $alpha: 0.3);
    border-radius: 0 0 0.2rem 0.2rem;

    .btns-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      & > * {
        padding: .8rem 1rem;
        margin: 0 2rem;
      }
      a,button {
        i{
          font-size: 1.5rem;
        }
      }
    }
    //Items groups
    &-group {
      input {
        width: 100%;
      }
      &.row-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.3rem;
      }

      
    }
    &>div {
      ul li {
        color: $danger-color;
        font-size: 12px;
      }
    }
    
    //Items groups
    &-item {
      //border: 1px solid yellow;
    }

    & > * {
      padding: 0.3rem 0;
      @include flex-row-center-center(column, none, none);
      label {
        display: block;
      }
      &:last-child {
        @include flex-row-center-center(row, space-between, center);
      }

      &.checkbox {
        flex-direction: row;
        input {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
