<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Page d'accueil{% endblock %}</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
			  integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
			  crossorigin="anonymous" />
		<!--AWESOME STYLE SHEET FOR ICONES-->
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
		<style>
			.fc .fc-button-primary {
				background-color: #7209B7!important;
				outline: none;
			}

		</style>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>

	<body id="dashboard">

		<!--ASIDE BAR FIXED ON LEFT-->
		{% if app.user %}

			<aside class="aside aside-left ">

				<div class="aside-mvp">
					<nav class="aside-mvp-list">
						<ul>
							<li class="{{ contact_active ?? '' }}">
								<a href="{{ path('users-contacts') }}">
									<i class="fal fa-address-book"></i>
								</a>
							</li>
							<li class="{{ calendar_active ?? '' }}">
								<a href="{{ path('users-calendar') }}">
									<i class="fal fa-calendar-alt"></i>
								</a>
							</li>
							{# TODO  user list #}
							{% if is_granted('ROLE_ADMIN') %}
								<li class="{{ users_active ?? '' }}">
									<a href="{{ path('admin-users-index') }}">
										<i class="fal fa-user"></i>
									</a>
								</li>
								<li class="{{ category_active ?? '' }}">
									<a href="{{ path('admin-category-index') }}">
										<i class="fal fa-list"></i>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>

				<div class="aside-setting" >
					<a href="{{ path('users-profile', {id:app.user.id}) }}" class="{{ profile_active ?? '' }}">
{#						<i class="fal fa-cogs"></i>#}
						<i class="fas fa-id-card"></i>
					</a>
				</div>

			</aside>

		{%  endif %}
		
		<!--MAIN CONTENT-->
		<main class="main">

			<!--NAV BAR-->
			<header class="main-header">

				<nav class="main-header-nav">

					<div class="main-header-nav-logo">
						<a href="{{ path('home') }}" >Contacaly.</a>
					</div>

					{% if app.user and search is not defined %}
						<div class="main-header-nav-search">
							<input id="nav_bar_input_js"
								   data-url="/users/dashboard"
								   type="search"
								   class="main-header-nav-search-input"
								   placeholder="Chercher le calendrier des autres utilisateurs"
								   multiple="multiple">

							<div class="main-header-nav-search-result searchResultat">

							</div>

						</div>
					{% endif %}

					{% if calendar_active is defined %}
						<a class="main-header-nav-add-event add_event_js" >
							<i class="far fa-calendar-plus"></i>
							<span class="add_event_text">Nouvelle réunion</span>
						</a>
					{% endif %}
					<ul class="main-header-nav-list">

						<li>
							<a href="{{ path('home') }}" class=" ">
								<i class="fal fa-home"></i>
							</a>
						</li>

						<li>
							{% if app.user %}
								<span>{{ app.user.name }}</span>
								<div class="profile-photo">
									{% if app.user.picture %}
										<img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="image de {{ app.user.picture }}">
									{% else %}
										<img src="/images/profile/default/{{ app.user.picture??"man.jpg" }}" alt="image de {{ app.user.picture }}">
									{% endif %}
								</div>
								<div class="profile-dropdown">
								<ul>
									<li>
										<a href="{{ path('users-dashboard') }}">Dashboard</a>
									</li>
									<li>
										<a href="{{ path('users-profile', {id:app.user.id}) }}">Profil</a>
									</li>
									<hr>
									<li>
										<a href="{{ path('mentions') }}">Mentions légales</a>
									</li>
									<li>
										<a href="{{ path('ugc') }}">Confidentialités</a>
									</li>
									<hr>

									<li>
										<a href="{{ path('app_logout') }}">Déconnexion</a>
									</li>
								</ul>
							</div>

							{%  else %}
								<a href="{{ path('app_login') }}" class="my-btn my-btn-primary-outline">
									<i class="fal fa-sign-in-alt"></i>
								</a>
							{% endif %}
						</li>
					</ul>

				</nav>

				<nav class="main-header-humburger ">

					<div class="main-header-humburger-logo">
						<a href="{{ path('home') }}">Contacaly.</a>
					</div>

					<ul class="main-header-humburger-humburger">
						<div class="humburger" id="humburger_js">
							<span></span>
						</div>
					</ul>

				</nav>

			</header>

			<!--MAIN CONTENT-->
			<section class="main-content">
				<!--PLAGE FOR RETURN MESSAGE-->
				<div id="eventReturnMessage"></div>

				<!--Content from viewer-->
				{% block body %}{% endblock %}

			</section>

			<!-- HUMBURBER HIDDER-->
			<section class="main-humburger " id="humburger_container_js">

				<div class="main-humburger-list">
					<ul>
						{%  if app.user %}

							<li>
								<a href="{{ path('users-dashboard') }}">Dashboard</a>
							</li>
							<li>
								<a href="{{ path('users-profile', {id:app.user.id}) }}">Profil</a>
							</li>
							<hr>
							<li>
								<a href="{{ path('mentions') }}">Mentions légales</a>
							</li>
							<li>
								<a href="{{ path('ugc') }}">Confidentialités</a>
							</li>
							<hr>

							<li>
								<a href="{{ path('app_logout') }}">Déconnexion</a>
							</li>
						{%  else %}
							<li>
								<a href="{{ path('home') }}">Accueil</a>
							</li>
							<li>
								<a href="{{ path('app_login') }}">Connexion</a>
							</li>
						{%  endif %}
					</ul>
				</div>

			</section>

		</main>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"
				integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
				crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
				integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
				crossorigin="anonymous"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>

</html>
