@mixin my-btn($color) {
  background-color: $color;
  color: $white-color;
  &:hover {
    background-color: rgba($color: $color, $alpha: 0.3);
    color: $color;
  }
}

@mixin my-btn-outline($color) {
  background-color: rgba($color: $color, $alpha: 0.3);
  color: $color;
  border: 1px solid $color;
  &:hover {
    background-color: rgba($color: $color, $alpha: 0.9);
    color: $white-color;
  }
}

@mixin alert-outline($color) {
  background-color: rgba($color: $color, $alpha: 0.3);
  color: $color;
  border: 1px solid $color;
}

@mixin alert($color) {
  background-color: rgba($color: $color, $alpha: 0.3);
  color: $color;
  font-size: 1rem;
}


@mixin flex-row-center-center($row: "", $justify: "", $align: "") {
  display: flex;
  @if $row {
    flex-direction: $row;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}
