{%  extends 'base.html.twig' %}
{% block title %}{{ button_message =="edit"?"Personnalisation de l'utilisateur":'Création de nouveau utilisateur' }}{% endblock %}

{%  block body %}


	<!--Content from viewer-->
	<div id="profile" class="main-content-user">
		<div class="main-content-user-profile">

			<div class="form">

				<div class="form-title">
					<h3>{{ button_message =="edit"?"Personnalisation de l'utilisateur":'Création de nouveau utilisateur' }}</h3>
				</div>

				<div class="row">

					{{ form_start(form, {attr:{'class':"form-group"}}) }}
						{{ form_row(form.name) }}
						{{ form_row(form.lastname) }}
						{{ form_row(form.email) }}
						{{ form_row(form.phone) }}
						{{ form_row(form.jobtitle) }}
						{{ form_row(form.infos) }}
						{{ form_row(form.imageFile) }}
					<div class="btns-area">
						<a href="{{ url }}" class="my-btn my-btn-secondary"><i class="fal fa-backspace"></i></a>
						<button type="submit" class="my-btn my-btn-success">{{ button_message =="edit"?'<i class="fal fa-pencil-alt"></i>':'<i class="fal fa-save"></i>' }}</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>

		</div>
	</div>

{%  endblock %}