{%  extends 'base.html.twig' %}

{% block title %}Profil d'utilisateur{% endblock %}

{% block body %}
	<!--Content from viewer-->
	<div id="profile" class="main-content-profile mainprofile">

		<div class="profile-inner">

			<!--SHOWCASE OR HEADER-->
			<div class="main-content-profile-inner-header">

				<!--BG-->
				<div class="main-content-profile-inner-header-img">
					<img src="/images/bg/profile_bg.jpg" alt="image">
				</div>

				<!--USER PROFILE-->
				<div
					class="main-content-profile-inner-header-profile">

					<!--PICTURE-->
					<div class="main-content-profile-inner-header-profile-picture">

						<div class="main-content-profile-inner-header-profile-picture-img">
							{% if app.user.picture %}
								<img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="image de {{ app.user.picture }}">
							{% else %}
								<img src="/images/profile/default/man.jpg" alt="image de {{ app.user.picture }}">
							{% endif %}
						</div>

						<div class="main-content-profile-inner-header-profile-picture-text">
							<h2>{{ user.name |upper }} {{ user.lastname|capitalize }}</h2>
							<p>{{ user.jobTitle |capitalize }}</p>
						</div>

					</div>

				</div>

			</div>

			<div class="main-content-profile-inner-calendarp">

				<div class="main-content-profile-inner-calendarp-left">

					<div class="main-content-profile-inner-calendarp-left-info">
						<h3>Informations personnelles</h3>
						<p>Nom : {{ user.name }}</p>
						<p>Prénom : {{ user.lastname }}</p>
						<p>Dernière connexion : {{ user.lastConnectionAt |date ('d-M-Y H:i') }}</p>
					</div>

					<div class="main-content-profile-inner-calendarp-left-pers">
						<h3>Informations professionnelles</h3>
						<p>Email : {{ user.email }}</p>
						<p>Phone : {{ user.phone }}</p>
						<p>Poste : {{ user.jobtitle }}</p>
					</div>

					<div class="main-content-profile-inner-calendarp-left-infos">
						<h3>Sur moi</h3>
						<p>{{ user.infos }}</p>
					</div>

					{% if app.user.id == user.id %}

						<div class="main-content-profile-inner-calendarp-left-button">
							<a href="{{ path('users-edit',{id:user.id}) }}" class="my-btn my-btn-success">
								Modifier mon compte
							</a>
							<form action="{{ path('users-delete',{id:user.id}) }}" method="POST"
								  style="display: inline-block" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer votre compte?')">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="role" value="user">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
								<button type="submit" class="my-btn my-btn-danger" style="padding: .8rem 1rem;">Supprimer mon compte</button>
							</form>

						</div>

					{% endif %}

					{% for message in app.flashes('success') %}
					<div class="main-content-profile-inner-calendarp-left-infos">
						<div class="returnMessage">
								<p class="my-alert my-alert-success">{{ message }}</p>
						</div>
					</div>
					{% endfor %}
				</div>

				<!--CALENDAR-->
				<div class="main-content-profile-inner-calendarp-right">
					
				</div>

			</div>

		</div>
	</div>

{%  endblock %}
