{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		#contact-new {
			padding-top: 60px;
		}
	</style>
{% endblock  %}
{% block body %}
	<!--Content from viewer-->
	<div id="contact-new" class="main-content-user">
		<div class="main-content-user-profile">

			{% for message in app.flashes('error') %}
				<p class="my-alert my-alert-warning">{{ message }}</p>
			{% endfor %}

			<div class="form">
				<div class="form-title">
					<h3>{{ title }}</h3>
				</div>

				<form class="form-group" action="" method="post">
					{{ form_start(form) }}

						{{ form_row(form.names) }}
						{{ form_row(form.email) }}
						{{ form_row(form.phone) }}
						{{ form_row(form.site) }}
						{{ form_row(form.address) }}
						{{ form_row(form.infos) }}
						{{ form_row(form.jobtitle) }}
						{{ form_row(form.category, {'label': 'Rélation'}) }}

						<div class="form-group-item">
							<small>* Champs obligatoires</small>
						</div>

						<div class="btns-area">
							<a href="{{ path('users-contacts') }}" class="my-btn my-btn-default"><i class="fal fa-backspace"></i></a>
							<button type="submit" class="my-btn my-btn-secondary"><i class="far fa-save"></i></button>
						</div>
					{{ form_end(form) }}
				</form>
			</div>

		</div>
	</div>

{% endblock %}
