{% extends 'base.html.twig' %}

{% block title %}Gestion de contacts{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		#user-title h1{
			text-align: center;
			padding: 1rem 0;
			font-size: 2rem;
			color: #3A0CA3;
			font-weight: normal;
		}
	</style>
{% endblock %}

{% block body %}

	<!--Content from viewer-->
	<div id="contact" class="contact main-content-contact">
		<div class="main-content-contact-view">

			<div class="" id="user-title">
				<h1 class="text-center">Repertoire de contacts</h1>
			</div>

			<div class="returnMessage">
				{% for message in app.flashes('success') %}
					<p class="my-alert my-alert-success">{{ message }}</p>
				{% endfor %}
			</div>

			<div class="main-content-contact-view-search">
				<!--SEARCH FIELD-->
				<form action="{{ path('search') }}" class="form-group" method="get">

					<div class="gorm-group-group row-2">
						<input type="text" name="names" id="names" placeholder="Recherche par nom : Ex: DOE John" multiple>
						<input type="tel" name="phone" id="phone" placeholder="Recherche ex: 0753698554" multiple>

						<select name="category" id="category" class="form-group-item">
							<option value="">Choisissez</option>
							{% for category in categories %}
								<option value="{{ category.id }}">{{ category.category }}</option>
							{%  endfor %}
						</select>

						<div class="form-group-item">
							<button class="my-btn my-btn-primary"><i class="fal fa-search"></i></button>
						</div>

					</div>

				</form>

			</div>
			
			<div class="main-content-contact-view-add">
				<a class="my-btn my-btn-success" href="{{ path('users-contacts-new') }}">
					<i class="far fa-plus"></i>
				</a>
			</div>

			{% if pagination | length > 0 %}
				<div class="main-content-contact-view-contents">

					<table class="table">

						<thead>
							<tr>
								<th scope="col">Nom</th>
								<th scope="col">Email</th>
								<th scope="col">Téléphone</th>
								<th scope="col">Catégorie</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>

						<tbody>
							{% for contact in pagination %}
								<tr>

									<th scope="row">
										<div class="contact-view-content-profile">
											<img src="/images/interface/logo1.png" alt="logo" srcset="">
										</div>
										<div class="contact-view-content-name">
											<span>{{ contact.names }}</span>
										</div>
									</th>

									<td>
										<a href="mailto: {{ contact.email }}">{{ contact.email|slice(0, 20) }}
											...</a>
									</td>
									<td>{{ contact.phone }}</td>
									<td>{{contact.category.category??"..."}}</td>

									<td class="actions">

										<a class="my-btn my-btn-primary" href="{{ path('users-contacts-edit',{id:contact.id}) }}">
											<i class="far fa-pencil-alt"></i>
										</a>

										<form method="POST" action="{{ path('users-contacts-delete', {id:contact.id })}}"
											  style="display: inline-block" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer?')">
											<input type="hidden" name="_method" value="DELETE">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
											<button class="my-btn my-btn-danger">
												<i class="fas fa-trash-alt"></i>
											</button>
										</form>

									</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>

				<div class="main-content-contact-pagination navigation container" >
					{{ knp_pagination_render(pagination) }}
				</div>
			{% else %}
				<p>{% trans %}No contact found{% endtrans %}</p>
			{% endif %}
		</div>

	</div>

{% endblock %}
