.sign {
  display: grid;
  place-items: center;
  
  width: 100vw;
  padding: 0;
  position: relative;
  padding-top: 0px!important;
  &-error {
    margin-bottom: 2rem;
  }
  //S0CIAL NETWORK
  .social-network {
    @include flex-row-center-center(row, center, center);
    a {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0.2rem 0.3rem;
      clip-path: circle(40%);
      border-radius: 50%;
      border: 2px solid $default-color;

      @include flex-row-center-center(row, center, center);
      color: $default-color;
      transition: all 0.3s ease-in-out;
      i {
        font-size: 1.8rem;
      }
      &:hover {
        clip-path: circle(50%);
        padding: 0.3rem;
        color: $secondary-color;
      }
    }
  }

  .social-network + p {
    color: $secondary-color;
  }

  &-inner {
    position: relative;
    width: 700px;
    height: 550px;
    overflow: hidden;
    border-radius: 0.5rem;
    a {
      text-decoration: none;
      font-size: 1.2rem;
    }
    h3 {
      font-size: 2rem;
      padding: 0.5rem 0;
    }
    a {
      text-decoration: none;
      padding: 0.5rem 0;
      color: $default-color;
    }
    p {
      font-size: 1rem;
      padding: 0.5rem 0;
    }
    //FORMULAR
    .sign-form {
      width: 100%;
      form {
        width: 100%;
        @include flex-row-center-center(column, center, center);
        input {
          width: 90%;
          padding: 0.6rem 0.5rem;
          border-radius: 0.2rem;
          margin: 0.5rem 0;
          border: 0;
          outline-style: none;
          border-bottom: 4px solid #ccc;
        }

        button {
          padding: 0.7rem 1.2rem;
          border-radius: 0.2rem;
          margin: 0.5rem 0;
          outline-style: none;
          cursor: pointer;
          color: $dark-white-color;
          background: $segundo-color;
          transition: all 0.3s ease-in-out;
          border: 0;
          border-bottom: 4px solid $warning-color;
          font-size: 1rem;
        }
      }
    }

    //Responsive
    //SIGN IN
    .sign-in {
      width: 100%;
      height: inherit;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      position: absolute;
      top: 0;
      left: 0;
      &-left {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: inherit;
        padding: 2rem 0;
        background: $white-color;
        @include flex-row-center-center(column, center, center);
        transition: all 0.6s ease-in-out;
        z-index: 2;

        &-title {
          font-size: 1.5rem;
          color: $segundo-color;
        }
        .sign-form {
          &-password {
            color: $primary-color;
            
          }

          form {
            &>div {
              &:last-of-type {
                flex-direction: row;
                margin-bottom:10px!important;
                align-items: center;
                label {
                  order: 2;
                  font-size: 12px;
                }
                input{
                  width: 20px;
                  order: 1;
                }
              }
            }
          }
        }

        &.move-to-right {
          left: 50%;
          z-index: 1;
        }
      }

      &-right {
        position: absolute;
        top: 0;
        left: 50%;
        transition: all 0.6s ease-in-out;
        width: 50%;
        height: inherit;
        padding: 2rem 1rem;
        background: $segundo-color;
        @include flex-row-center-center(column, center, center);
        color: $dark-white-color;
        text-align: center;
        opacity: 0;
        z-index: 1;

        button {
          &:hover {
            color: $white-color;
          }
        }

        &.move-to-left {
          left: 0;
          z-index: 2;
          opacity: 1;
        }
      }
    }

    //SIGN UP
    .sign-up {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: inherit;
      &-left {
        position: absolute;
        top: 10px;
        bottom: 10px;
        left: 0;
        width: 50%;
        height: inherit;
        padding: 2rem 0;
        background: $white-color;
        @include flex-row-center-center(column, center, center);
        transition: all 0.6s ease-in-out;
        z-index: 1;
        &-title {
          font-size: 1.5rem;
          color: $segundo-color;
          padding: 0;
        }

        &.move-to-right {
          left: 50%;
          z-index: 2;
        }
        //TODO - refactoring
        .sign-form {
          form {
            padding: 0 .5rem;

            #agreement {
              div {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-end;
                input {
                  width: 10px!important;
                }

                label {
                  font-size: 12px;
                  padding-left: 10px;
                }
              }
            }
            &>div {
              width: 100%;
              display: flex;
              flex-direction: column;
              margin-bottom:10px!important;
              
              ul li {
                font-size: 12px;
                color: $danger-color;
              }
              input {
                width: 100%;
                margin: 0!important;
              }
              &:last-of-type {
                flex-direction: row;
                margin-bottom:10px!important;
                align-items: center;
                label {
                  order: 2;
                  font-size: 12px;
                }
                input{
                  width: 20px;
                  order: 1;
                }
              }
            }
          }
        }
      }

      &-right {
        position: absolute;
        top: 0;
        left: 50%;
        transition: all 0.6s ease-in-out;
        width: 50%;
        height: inherit;
        padding: 2rem 1rem;
        background: $segundo-color;
        @include flex-row-center-center(column, center, center);

        color: $dark-white-color;
        text-align: center;
        z-index: 2;
        opacity: 1;

        button {
          background: $dark-white-color;
          color: $segundo-color;
        }

        &.move-to-left {
          left: 0;
          z-index: 1;
          opacity: 0;
        }
      }
    }
  }
}
