
.mentionslegales {
    padding: 5rem 0 3rem 0;
    h2 {
        margin: .5rem 0;
    }
}
.confidentialite {
    padding:2rem 0 3rem 0;
    
    h2 {
        margin: 1rem 0;
    }

    &>article > ul > ul {
        margin: 1rem 0;
    }
    p {
        margin: .5rem 0;
        text-align: justify;
    }
    table {
        padding: .5rem 0;
        tr {
            td {
                display: flex;
                flex-direction: row;
                text-align: justify;
                &:first-child {
                    margin: .3rem 0;
                    font-weight: bold;
                    font-size: 1.2rem;
                }
            }
        }
    }
    &-title {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    &-glossaire {

    }
}