{%  extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
	<!--Child content -->
	<section class="main-content-sign sign">

		<div class="my_container">

			{% if error %}
				<div class="my-alert my-alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<div class="sing-error">
				<!--TODO to organise for signup -->
				{% for flashError in app.flashes('verify_email_error') %}
					<div class="my-alert my-alert-danger" role="alert">{{ flashError }}</div>
				{% endfor %}
			</div>

			<div class="sing-error">
				<!--TODO to organise for signup -->
				{% for flashError in app.flashes('success') %}
					<div class="my-alert my-alert-success" role="alert">{{ flashError }}</div>
				{% endfor %}
			</div>

			<div class="sign-inner ">

				<!--SIGN UP-->
				<div class="sign-up">

					<!--LEFT SIDE-->
					<div class="sign-up-left">

						<div class="sign-up-left-title">
							<h3>Inscription</h3>
						</div>
						{% if social is defined %}
							<div class="social-network">
								<a href="{{ google_uri }}">
									<i class="fab fa-google"></i>
								</a>
							</div>
							<p>ou utilisez votre email pour vous inscrire</p>
						{% endif %}

						<div class="sign-form">
							<form action="{{ path("app_register") }} " method="post">
								{{ form_start(registrationForm) }}
								{{ form_row(registrationForm.email, {"attr": {"placeholder":"Email"}}) }}

								{{ form_row(registrationForm.name, {"attr": {"placeholder":"Nom"}}) }}
								{{ form_row(registrationForm.plainPassword, {
									label: 'Password',
									"attr": {"placeholder":"Mot de passe"}
								}) }}
								{{ form_row(registrationForm.plainPasswordConf, {"attr": {"placeholder":"Confirmer votre mot de passe"}}) }}
								<div id="agreement">
									{{ form_row(registrationForm.agreeTerms) }}
								</div>
								<div class="buttons">
									<button  id="switch_to_login_js">Connexion</button>
									<button type="submit" class="btn">Inscription</button>
								</div>
								{{ form_end(registrationForm) }}
							</form>
						</div>

					</div>

					<!--RIGHT SIDE-->
					<div class="sign-up-right">
						<h3>Bienvenu(e)!</h3>
						<p>Pour rester connecté(e) avec nous, Veuillez utiliser vos infos personnelles</p>
						<button type="button" class="sign-up-btn">Inscription</button>
					</div>

				</div>

				<!--SIGN IN-->
				<div class="sign-in">

					<div class="sign-in-left">

						<div class="sign-in-left-title">
							<h3>Connexion</h3>
						</div>
						{% if social is defined %}
							<div class="social-network">
								<a href="{{ google_uri }}">
									<i class="fab fa-google"></i>
								</a>
							</div>
							<p>ou utilisez votre compte</p>
						{% endif %}

						<div class="sign-form">
							<form action="{{ path('app_login' ) }}" method="post">
								<input type="email" name="email" id="inputEmail" placeholder="Email" value="{{ last_username }}" required autofocus>
								<input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
								<a href="{{ path('app_forgot_password_request') }}" class="sign-form-password" id="sign_form_js">Mot de passe oublié</a>

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

								<div class="buttons">
									<button id="switch_to_sign_up_js">S'inscrire</button>
									<button type="submit">Connexion</button>
								</div>
							</form>
						</div>

					</div>

					<!--RIGHT SIDE-->
					<div class="sign-in-right">
						<h3>Saluuuut!</h3>
						<p>Pour rester connecté(e) avec nous, utilisez vos infos personnelles</p>
						<button type="button" class="login-btn">Connexion</button>
					</div>

				</div>

			</div>

		</div>

	</section>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		//Activated when user sing up with error
		{% if error_js is defined %}
			animateSignUp({{ error_js }});
		{% endif %}

		function animateSignUp(action) {
			let connexion_left_side   = document.querySelector('.sign-in-left');
			let connexion_right_side  = document.querySelector('.sign-in-right');
			let inscription_left_side = document.querySelector('.sign-up-left');
			let inscription_right_side= document.querySelector('.sign-up-right');
			if (action) {
				//signup
				inscription_right_side.classList.add('move-to-left');
				inscription_left_side.classList.add("move-to-right");

				//signin
				connexion_right_side.classList.add("move-to-left");
				connexion_left_side.classList.add("move-to-right");
			}
		}

	</script>
{% endblock %}