{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

	<!--Content from viewer-->
	<div id="home" class="home main-content-home">

		<!--SHOWCASE-->
		<div class="main-content-home-showcase">
			<div class="main-content-home-showcase-inner">

				<div class="main-content-home-showcase-inner-left">
					<h1>Contacaly.</h1>
					<p>Contacaly vous aide à travailler en collaboration, à planifier les réunions, les événements et à consulter tous les contacts de vos collaborateurs.</p>
					<a href="{{ path('app_register') }}" class="my-btn my-btn-primary-outline">Inscription</a>
				</div>

				<div class="main-content-home-showcase-inner-right">
					<div class="main-content-home-showcase-right-picture">
						<img src="{{ asset('images/homepage/undraw_teacher_35j2.svg') }}" alt="showcase image from undraw" >
					</div>
				</div>
			</div>
		</div>

		<!--AGENDA-->
		<div class="main-content-home-calendar">
			<div class="main-content-home-calendar-inner">

				<div class="main-content-home-calendar-inner-left">
					<div class="main-content-home-calendar-inner-left-picture">
						<img src="{{ asset('images/homepage/undraw_schedule_pnbk.svg') }}" alt="schedule image from undraw" >
					</div>
				</div>

				<div class="main-content-home-calendar-inner-right">
					<h2>Calendrier</h2>
					<p>Retrouvez vos planifications et tous vos nouveaux contacts. De plus si vous le souhaitez, vous avez la possibilité de personnaliser vos événements et également inviter les membres de votre équipe.</p>
					<a href="{{ path('users-calendar') }}" class="my-btn my-btn-primary-outline">Calendrier</a>
				</div>

			</div>
		</div>

		<!--CONTACT-->
		<div class="main-content-home-contact">

			<div class="main-content-home-contact-inner">

				<div class="main-content-home-contact-inner-left">
					<h2>Contacts</h2>
					<p>Retrouvez facilement les contacts de tous vos collaborateurs. Identifiez-les par leurs noms, numéros de téléphone, ainsi que par leurs catégories.</p>
					<a href="{{ path('users-contacts') }}" class="my-btn my-btn-primary-outline">Répertoire</a>
				</div>

				<div class="main-content-home-contact-inner-right">
					<div class="main-content-home-contact-inner-right-picture">
						<img src="{{ asset('images/homepage/undraw_contact_us_15o2.svg') }}" alt="schedule image from undraw" >
					</div>
				</div>

			</div>
		</div>

		<!--TUTORIEL-->
		<div class="main-content-home-tutoriel">
			<div class="main-content-home-tutoriel-inner">
				<h2>Comment ça marche?</h2>

				<div class="main-content-home-tutoriel-inner-cards">

					<div class="cards">

						<div class="cards-img">
							<div class="cards-img-videos" style="height: 250px; overflow: hidden">
								<img src="{{ asset('images/homepage/undraw_events_2p66.svg') }}" alt="picture dor video from undraw">
							</div>
						</div>
						<div class="cards-text">
							<h4>Consulter mes événements</h4>
							<p>Pour consulter vos événements, cliquez sur le bouton ci-dessous et laissez-vous guider au travers de la vidéo !</p>
							<a href="{{ path('tutoriel',{slug:"event"}) }}" target="_blank" class="my-btn my-btn-secondary">Regarder</a>
						</div>
					</div>

					<div class="cards">

						<div class="cards-img">
							<div class="cards-img-videos" style="height: 250px; overflow: hidden">
								<img src="{{ asset('images/homepage/undraw_profile_6l1l.svg') }}" alt="picture dor video from undraw">
							</div>
						</div>
						<div class="cards-text">
							<h4>Personnaliser mon profil</h4>
							<p>Vous avez la possibilité de personnaliser et de rectifier vos informations sur le système. Pour se faire, veuillez cliquer sur ce bouton.</p>
							<a href="{{ path('tutoriel',{slug:"profile"}) }}" target="_blank" class="my-btn my-btn-secondary">Regarder</a>
						</div>
					</div>

					<div class="cards">

						<div class="cards-img">
							<div class="cards-img-videos" style="height: 250px; overflow: hidden">
								<img src="{{ asset('images/homepage/undraw_people_search_wctu.svg') }}" alt="picture dor video from undraw">
							</div>
						</div>
						<div class="cards-text">
							<h4>Voir les contacts</h4>
							<p>Pour arriver à une recherche aboutie, je vous invite à regarder ce tutoriel en cliquant sur le bouton.</p>
							<a href="{{ path('tutoriel',{slug:"contact"}) }}" target="_blank" class="my-btn my-btn-secondary">Regarder</a>
						</div>
					</div>

				</div>

			</div>
		</div>

		<!--CONTACT-->
		<div class="main-content-home-contact-us">

			<div class="">

				<div class="form">

					<div class="form-group">
						<h2>Contactez-nous</h2>

						<div id="contact_return_message_js">

						</div>
						<form action="{{ path('message-contact') }}" method="post">
							<div>
								<label for="name">Nom *</label>
								<input type="text" name="name" id="name" placeholder="Nom complet" required>
							</div>
							<div>
								<label for="email">Email *</label>
								<input type="email" name="email" id="email" placeholder="Email" required>
							</div>
							<div>
								<label for="subject">Sujet *</label>
								<input type="text" name="subject" id="subject" placeholder="Sujet" required>
							</div>
							<div>
								<label for="message">Message *</label>
								<textarea name="message" id="message" cols="30" rows="5" placeholder="Message" required></textarea>
							</div>
							<div>
								<button type="submit" class="my-btn my-btn-primary-outline" id="send_contact_js">Envoyer</button>
							</div>
						</form>
					</div>

				</div>

			</div>

		</div>

		<!--FOOTER-->
		<footer class="main-content-home-footer">
			<div class="main-content-home-footer-inner">
				<ul>
					<li><a href="{{ path('ugc') }}">Politiques de confidentialités</a></li>
					<li>&copy; {{ 'now'| date('Y') }}. By KALUMVUATI Duramana</li>
					<li><a href="{{ path('mentions') }}">Mentions légales</a></li>
				</ul>
			</div>
		</footer>

	</div>

{% endblock %}
