{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #ml {
            padding-top: 70px;
        }#ml h1{
            text-align: center;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="my-container">
        <div class="mentionslegales" id="ml">
            <h1>MENTIONS LEGALES</h1>

            <h2>Éditeur et directeur de la publication</h2>
            <p>KALUMVUATI Duramana</p>
            <p>Mail :<a href="mailto:duramana.kalumvuati@laposte.net">duramana.kalumvuati@laposte.net</a></p>

            <h2>Hébergeur</h2>
            <address>
                <p >1&1 IONOS SARL</p>
                <p>Siège social : 7, place de la Gare - 57201 Sarreguemines Cedex</p>
                <p>BP 70109</p>
                <p>Téléphone : 0970 808 911</p>
            </address>

            <h2>Cookies</h2>
            <p>Le présent site internet n'utilise que des cookies techniques pour le fonctionnement du site internet.</p>
        </div>
    </div>
{% endblock %}
