{% extends 'base.html.twig' %}

{% block title %}Tutoriel{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #cgu-index {
            padding-top: 60px;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="main-content-tutoriel" id="tutoriel">

        <div class="main-content-tutoriel-title">
            <h1> Tutoriel de {{ title | capitalize }} </h1>
        </div>

        <div class="main-content-tutoriel-movy">
            <video controls="controls">
                <source src="/movies/tutoriel/{{ title }}.webm" type="video/webm" />
                <p>Votre navigateur ne supporte pas l'élément vidéo.</p>
            </video>

        </div>

    </section>
{% endblock %}
