// #dashboard {
//   max-width: 100vw;
//   margin-top: 60px;
//   background: $dark-white-color;
//   @include flex-row-center-center(column, space-between, none);

//   //ASIDE BAR FIXED ON LEFT
//   .aside {
//     //overflow: hidden;
//     padding-top: 60px;
//     position: fixed;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     width: 60px;
//     height: inherit;
//     background-color: $grey-color;
//     z-index: 2;
//     @include flex-row-center-center(column, space-between, center);

//     i {
//       font-size: 2rem;
//     }

//     &-mvp {
//       width: 100%;

//       &-list {
//         width: 100%;
//         ul {
//           width: 100%;
//           @include flex-row-center-center(column, center, center);
//           li {
//             width: 100%;
//             padding: 0.7rem 1rem;
//             cursor: pointer;
//             color: $segundo-color;
//             transition: background-color .2s ease-in-out;
//             &:hover {
//               background-color: rgba($color: $segundo-color, $alpha: 0.3);
//             }
//             @include flex-row-center-center(column, center, center);
//             a {
//               color: $segundo-color;
//               display: inline-block;
//             }
//           }
//         }
//       }
//     }

//     &-setting {
//       width: 100%;
//       @include flex-row-center-center(column, center, center);
//       a {
//         width: 100%;
//         background-color: rgba($color: $segundo-color, $alpha: 0.7);
//         padding: 0.7rem 1rem;
//         color: $grey-color;
//         @include flex-row-center-center(column, center, center);
//         transition: background-color .2s ease-in-out;
//         &:hover {
//           color: rgba($color: $segundo-color, $alpha: 0.7);
//           background-color: $grey-color;
//         }
//       }
//     }
//   }

//   .main {
//     //Nav bar is fixed on top
//     &-header {
//       max-width: 100vw;
//       background-color: $segundo-color;
//       padding: 0 0.5rem;
//       position: fixed;
//       top: 0;
//       left: 0;
//       right: 0;
//       z-index: 3;

//       &-nav {
//         height: 60px;
//         //max-width: 1100px;
//         margin: auto;
        
//         @include flex-row-center-center(row, space-between, center);
//         //LOGO ou SITE NAME
//         &-logo {
//           a {
//             font-size: 2rem;
//             color: $white-color;
//             font-family: "Poppins", sans-serif;
//             font-weight: 700;
//           }
//           //@include flex-row-center-center(row, center, center);
//         }

//         //SEARCH BAR
//         &-search {
//           min-width: 620px;
//           height: 60px;
//           input {
//             width: 100%;
//             height: 50px;
//             display: block;
//             font-size: 1rem;
//           }

//           //RESULT 
//           &-result {
//             background-color: $white-color;
//             position: relative;
//             top: -10px;
//             display: none;
//             &.show {
//               display: block;
//             }

//             ul {
//               max-height: 300px;
//               border-radius: 0 0 .5rem .5rem;
//               overflow-y: scroll;
//               li {
//                 padding: 0.5rem;
//                 @include flex-row-center-center(row, none, center);
//                 &>div {
//                   @include flex-row-center-center(row, center, center);
//                   width: 40px;
//                   height: 40px;
//                   border-radius: 50%;
//                   overflow: hidden;
//                   img {
//                     width: 170%;
//                   }
//                   border: 1px solid $grey-color;
//                 }
//                 a{
//                   width: 100%;
//                   padding-left: .5rem;
//                   color: $segundo-color;
//                 }
//                 transition: all 0.2s ease-in-out;
//                 &:hover{
//                   background-color: $grey-color;
//                 }
//               }

//             }

//             &.searchResultat {
              
//             }
//           }
//         }

//         //LIST ITEMS
//         &-list {
//           @include flex-row-center-center(row, center, center);

//           li {
//             &:first-child {
//               i {
//                 font-size: 2rem;
//                 transition: color 0.3s ease-in-out;
//                 color: $quinto-color;
//                 &:hover {
//                   color: $white-color;
//                 }
//               }
//             }
//             a {
//               display: inline-block;
//               padding: 0.3rem 1rem;
//               color: $white-color;
//               font-size: 1.2rem;
//               &:hover {
//                 text-decoration: underline;
//               }
//             }
//             &:last-child {
//               position: relative;
//               @include flex-row-center-center(row, none, center);
//               span {
//                 color: $white-color;
//                 font-size: 1.2rem;
//                 font-weight: 600;
//                 padding-right: 0.3rem;
//               }

//               .profile-photo {
//                 width: 40px;
//                 height: 40px;
//                 border-radius: 50%;
//                 overflow: hidden;
//                 cursor: pointer;
//                 @include flex-row-center-center(row, center, center);
//                 img {
//                   position: relative;
//                   top: -1px;
//                   width: 135%;
//                 }
//               }

//               //Dropdown
//               .profile-dropdown {
//                 display: none;
//                 position: absolute;
//                 top: 40px;
//                 right: 0px;
//                 width: 200px;
//                 background-color: $grey1-color;
//                 ul {
//                   @include flex-row-center-center(column, flex-start, none);
//                   li {
//                     padding: 0.3rem 0rem;
//                     a {
//                       color: $segundo-color;
//                     }
//                   }
//                 }
//               }

//               //SHOW on HOVER
//               &:hover .profile-dropdown {
//                 display: block;
//               }
//             }
//           }
//         }
//       }

//     }

//     //SPECIAL
//     #eventReturnMessage {
//       position: fixed;
//       max-width: 50vw;
//       bottom: -100px;
//       left: 50%;
//       transform: translateX(-50%);
//       transition: all .3s ease-in-out;
//       &.show{
//         z-index: 2;
//         bottom: 10px;
//       }
//     }
    
//     &-content {
//       //as i used nav bar fixed, this line will add
//       //margin-top in the order to add 70px on top
//       max-width: 100vw;
//       height: 100vh;
//       @include flex-row-center-center(row, none, none);

//       //Every page will config its page from here
//       &-content {
//         max-width:100vw;
//         margin: 0 auto;
//       }
//     }
//   }
  

//   //ADD - EVENT 
//   .user_event_add {
//     display: none;
//     .event {

//       &-new {
//         .form {
          
//           &-group {
//             &-error {
//               display: none;
//               padding: .5rem;
//               &.show {
//                 display: block;
//               }
//             }

//             background-color: $white-color;
//             padding: 1rem;
//             border-radius: .3rem;
//             &-item {
//               input,textarea {
//                 border: 1px solid $segundo-color;
//               }
        
//               &:last-of-type {
//                 width: 250px;
//                 margin: 0 auto;
//                 button {
//                   i{
//                     font-size:1.2rem;
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }

//     }

//     &.show {
//       display: block;
//       position: fixed;
//       min-width: 100vw;
//       min-height: 100vh;
//       background-color: rgba($color: $segundo-color, $alpha: 0.3);
//       z-index: 3;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//     }
//   }
  
// }
