/*To modify when i finished back-end*/
.event {
  margin-top: 50px;
  max-width: calc(100vw - 70px);
  height: auto;
  &-new {
    width: inherit;
    height: inherit;
    @include flex-row-center-center(column, center, center);

    .form-group {
      &-group {
        .form-group-item {
          &.form-group-datetime {
            @include flex-row-center-center(row, space-between, center);
            & > div {
              &:first-child {
                width: 74%;
                input {
                  width: 100%;
                }
              }

              &:last-child {
                width: 25%;
                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
