{%  extends 'base.html.twig' %}
{% block title %}Mes messages{% endblock %}

{%  block body %}
	<div class="main-content-message" id="message" style="margin: auto; ">
		<h1>Page en cours de développement...</h1>
	</div>
{%  endblock %}
