{%  extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

	<div id="profile" class="main-content-user">
		<div class="main-content-user-profile">
			<div class="form">

				<div class="form-title">
					<h3>Réinitialiser votre mot de passe</h3>
				</div>

				<p>Un email contenant un lien de réinitialisation de mot de passe vous a été envoyé.
					Ceci va expirer dans
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
				<p>Si vous n'avez pas reçu un email, veuillez donc regarder vos spams ou alors
					<a href="{{ path('app_forgot_password_request') }}">Essayez de nouveau</a>.</p>

			</div>
		</div>
	</div>

{% endblock %}
