{%  extends 'base.html.twig' %}
{% block title %}Message - email{% endblock %}

{%  block body %}

	<div class="my-container">

		<h1>Salut!</h1>

		<p>Pour réinitialiser le mot de passe, Veuillez cliquer sur ce lien</p>

		<a class="" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

		<p>Ce lien va expirer dans
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

		<p>Cheers!</p>

	</div>

{%  endblock %}
