{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

        .form form {
            padding: 1rem;
            border: 1px dashed grey;
        }
        .form form > div {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .form form > div > * {
            margin: 0.3rem 0;
        }
    </style>
{% endblock %}
{% block body %}

    <div id="profile" class="main-content-user">
        <div class="main-content-user-profile">
            <div class="form">

                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                <div class="form-title">
                    <h3>Réinitialiser votre mot de passe</h3>
                </div>

                {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}
                    <div>
                        <small>Tapez votre email, on vous enverra un lien pour réinitialiser votre mot de passe</small>
                    </div>

                    <button class="my-btn my-btn-primary">Envoyer</button>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
