{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <div id="profile" class="main-content-user">
        <div class="main-content-user-profile">
            <div class="form">

                <div class="form-title">
                    <h3>Réinitialiser votre mot de passe</h3>
                </div>

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="my-btn my-btn-primary">Réinitialiser</button>
                {{ form_end(resetForm) }}

            </div>
        </div>
    </div>

{% endblock %}
