{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<h1>Salut!</h1>

	<p>
		Veuillez confirmer votre adresse mail en cliquant sur ce lien:
		<br><br>
		<a href="{{ signedUrl|raw }}">Confirmer mon mail</a>.
						    Ce lien sera expiré dans
		{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
	</p>

	<p>
		Cordialement!
	</p>

{% endblock %}
