{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>S'inscrire</h1>

	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.name) }}
	{{ form_row(registrationForm.plainPassword, {
            'label': 'Mot de passe'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn">S'inscrire</button>
	{{ form_end(registrationForm) }}
{% endblock %}
