{%  extends 'base.html.twig' %}
{% block title %}Création d'événement{% endblock %}

{%  block body %}

	<!--Content from viewer-->
	<div id="profile" class="main-content-user">
		<div class="main-content-user-profile">

			<div class="form">

				<form class="form-group"  method="post" enctype="multipart/form-data">
					{{ form_start(form) }}
						{{ form_row(form.title) }}
						{{ form_row(form.all_day) }}
						{{ form_row(form.start_at_date) }}
						{{ form_row(form.end_at_date) }}
						{{ form_row(form.description) }}
						{{ form_row(form.picture) }}
						{{ form_row(form.location) }}
						<div class="form-group-item">
							<a href="{{ path('users-events') }}" type="submit" class="my-btn ">Retourner</a>
							<button type="submit" class="my-btn my-btn-secondary">Créer</button>
						</div>
					{{ form_end(form) }}


				</form>

			</div>

		</div>
	</div>

{%  endblock %}
