{%  extends 'base.html.twig' %}

{% block title %}Événements{% endblock %}

{% block body %}
	<!--Content from viewer-->
	<div id="contact" class="contact">

		<div class="contact-view my-container">
			<!--RETURN MESSAGE-->
			<div class="returnMessage">
				{% for message in app.flashes('success') %}
					<p class="my-alert my-alert-success">{{ message }}</p>
				{% endfor %}
			</div>

			<div class="contact-view-add">
				<a class="my-btn my-btn-success" href="{{ path('users-events-add') }}">
					<i class="far fa-plus"></i>
				</a>
			</div>

			<div class="contact-view-contents">

				<table class="table">

					<thead>
						<tr>
							<th scope="col">Titre</th>
							<th scope="col">Début</th>
							<th scope="col">Fin</th>
							<th scope="col">Description</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>

					<tbody>
						{% for event in events %}
							<tr>
								<td>{{ event.title }}</td>
								<td>{{ event.startAtDate|date("m-d-Y H:i") }}</td>
								<td>{{ event.endAtDate|date("m-d-Y H:i") }}</td>
								<td>{{ event.description }}</td>

								<td class="actions">

									<a class="my-btn my-btn-primary" href="{{ path('users-events-edit',{id:event.id}) }}">
										<i class="far fa-pencil-alt"></i>
									</a>

									<form method="post" action="{{ path('users-events-delete', {id:event.id })}}"
										  style="display: inline-block"
										  onsubmit="return confirm('Etes-vous sûr de vouloir supprimer?')">

										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
										<button class="my-btn my-btn-danger">
											<i class="fas fa-trash-alt"></i>
										</button>
									</form>

								</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>

		</div>

	</div>
{% endblock %}
