@media screen and(min-width : 1024px) {

    #dashboard {
        // ASIDE BAR FIXED ON LEFT
        .aside {
            top: 0;
            left: 0;
            bottom: 0;
            width: 60px;
            min-height: 100vh;
            padding-top: 60px;
            @include flex-row-center-center(column, space-between, center);
            &-mvp {

                &-list {
                    ul {
                        @include flex-row-center-center(column, center, center);
                    }
                }
            }

        }

        .main {

            // Nav bar is fixed on top
            &-header {

                &-nav {
                    // SEARCH BAR
                    &-search {
                        min-width: 620px;
                    }

                     //ADD EVENT BUTTON 
                    &-add-event {
                        span{
                            display: block;
                        }
                    }

                }

            }

            &-content {
                // as i used nav bar fixed, this line will add
                // margin-top in the order to add 70px on top
                @include flex-row-center-center(row, center, none);


                // CALENDAR
                &-calendar {
                    min-width: 1100px;
                }

                // DASHBOARD
                &-dashboard {

                    // breadcrumb
                    &-inner {
                        @include flex-row-center-center(column, none, none);

                        // BreadCrumb
                        &-breadcrumb {
                            padding: 1rem;
                        }

                        // Statistic
                        &-statistic {
                            .statistic {
                                grid-template-columns: repeat(4, 1fr);
                            }
                        }

                        // BODY
                        &-body {
                            grid-template-columns: 3fr 1fr;
                            gap: 1rem;

                            // LEFT
                            &-left {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                gap: 1rem;
                            }
                            // RIGHT
                            &-right {
                                padding-top: 0;

                                // PROFILE
                                &-profile {

                                    box-shadow: 0 2px 2px rgba($color: $dark-color, $alpha: 0.3);
                                    border-radius: 0.2rem;
                                    overflow: hidden;

                                    &-title {
                                        padding: 1rem;
                                        border: 1px solid $grey-color;
                                        background-color: rgba($color: $dark-color, $alpha: 0.1);
                                    }
                                }

                                // CONTACT
                                &-cont {
                                    margin-top: 1rem;
                                    .current-top {
                                        padding: 1rem;
                                        background-color: $grey1-color;
                                        border-radius: 0.2rem 0.2rem 0 0;
                                    }
                                    .current-bottom {
                                        &-contact {
                                            padding: 1rem;
                                            border: 1px dashed $grey-color;
                                        }
                                        & > * {
                                            i {
                                                font-size: 1.2rem;
                                            }

                                            a,
                                            span {
                                                padding-left: 1rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }

                }

                &-home {

                    h1 {
                        font-size: 4rem;
                    }
                    h2 {
                        font-size: 2.5rem;
                    }
                    h4 {
                        font-size: 1.2rem;
                        text-align: center;
                    }

                    // CONTACT
                    &-contact {
                        &-inner {
                            height: 450px;
                            max-width: 1100px;
                            margin: auto;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 1rem;
                            align-items: center;
                        }
                    }

                    // TUTORIEL
                    &-tutoriel {
                        width: 100%;
                        &-inner {
                            width: 1100px;
                            margin: auto;
                            &-cards {

                                grid-template-columns: repeat(3, 1fr);
                            }
                        }
                    }

                    // CONTACT-US
                    &-contact-us {
                        max-width: 100vw;
                        .form {
                            max-width: 500px;
                            margin: auto;
                        }
                    }

                    // FOOTER
                    &-footer {
                        @include flex-row-center-center(column, center, center);
                        &-inner {
                            min-width: 1100px;
                            margin: auto;
                            ul {
                                @include flex-row-center-center(row, space-around, center);
                            }
                        }
                    }

                }

                // Every page will config its page from here
                &-profile {
                    margin-top: 1rem;
                    height: auto;


                    &-inner {
                        &-calendar {
                            display: grid;
                            grid-template-columns: 2fr 6fr 2fr;
                            &-current {

                                // NEW CONTACTS
                                &.right {
                                    padding-top: 50px;
                                }
                            }

                            // CALENDAR
                            &-calendar {
                                padding-top: 50px;
                            }

                        }
                    }

                    // USER PROFILE
                    &.mainprofile {
                        .main-content-profile-inner {
                            &-calendarp {
                                &-left {
                                    display: grid;
                                    grid-template-columns: repeat(3, 1fr);

                                    &-button {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        align-items: center;
                                        margin-bottom: 60px;
                                    }
                                }

                            }
                        }
                    }

                }

                // USER - PROFILE - EDIT FORM
                &-user {
                    max-width: 650px;
                    margin: auto;
                    .form {
                        padding: 2rem 0.5rem;
                        &-group {
                            box-shadow: 0 2px 2px rgba($color: $dark-color, $alpha: 0.2);
                        }
                    }
                }

                //TUTORIEL
                &-tutoriel {
                    max-width: 700px;
                    &-movy {
                        video {
                            max-width: 700px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}
