#dashboard {
  max-width: 100vw;
  min-height: 100vh;
  background: $dark-white-color;
  @include flex-row-center-center(column, space-between, none);

  //ASIDE BAR FIXED ON LEFT
  .aside {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 100vw;
    height: 55px;
    background-color: $grey-color;
    z-index: 2;
    @include flex-row-center-center(row, space-between, center);

    i {
      font-size: 2rem;
    }

    &-mvp {
      
      width: 100%;

      &-list {
        width: 100%;
        ul {
          width: 100%;
          @include flex-row-center-center(row, center, center);
          li {
            width: 100%;
            cursor: pointer;
            color: $segundo-color;
            transition: background-color .2s ease-in-out;
            &:hover {
              background-color: rgba($color: $segundo-color, $alpha: 0.3);
            }
            &.active {
              background-color: $primo-color;
              a {
                color: $white-color;
                background-color: unset;
              }
            }
            @include flex-row-center-center(column, center, center);
            a {
              padding: 0.7rem 1rem;
              color: $segundo-color;
              display: block;
            }
          }
        }
      }
    }

    &-setting {
      max-width: 100%;
      @include flex-row-center-center(column, center, center);
      a {
        width: 100%;
        background-color: rgba($color: $segundo-color, $alpha: 0.7);
        padding: 0.7rem 1rem;
        color: $grey-color;
        @include flex-row-center-center(column, center, center);
        transition: background-color .2s ease-in-out;
        
        &.active {
          background-color: $primo-color;
          color: $white-color;
        }

        &:hover {
          color: rgba($color: $segundo-color, $alpha: 0.7);
          background-color: $grey-color;
        }
      }
    }

  }

  .main {
    //Nav bar is fixed on top
    &-header {
      width: 100vw;
      background-color: $segundo-color;
      padding: 0 0.5rem;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 3;

      &-nav {
        height: 60px;
        margin: auto;
        @include flex-row-center-center(row, space-between, center);
        //LOGO ou SITE NAME
        &-logo {
          a {
            font-size: 2rem;
            color: $white-color;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
          }
          //@include flex-row-center-center(row, center, center);
        }

        //SEARCH BAR
        &-search {
          min-width: 620px;
          height: 60px;
          input {
            width: 100%;
            height: 50px;
            display: block;
            font-size: 1rem;
          }

          //RESULT 
          &-result {
            background-color: $white-color;
            position: relative;
            top: -10px;
            display: none;
            &.show {
              display: block;
            }

            ul {
              max-height: 300px;
              border-radius: 0 0 .5rem .5rem;
              overflow-y: scroll;
              li {
                padding: 0.5rem;
                @include flex-row-center-center(row, none, center);
                &>div {
                  @include flex-row-center-center(row, center, center);
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  overflow: hidden;
                  img {
                    width: 170%;
                  }
                  border: 1px solid $grey-color;
                }
                a{
                  width: 100%;
                  padding-left: .5rem;
                  color: $segundo-color;
                }
                transition: all 0.2s ease-in-out;
                &:hover{
                  background-color: $grey-color;
                }
              }

            }

            &.searchResultat {
              
            }
          }
        }
        //ADD EVENT BUTTON 
        &-add-event {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: .5rem .7rem;
          background-color: $success-color;
          border-radius: .2rem;
          color: $white-color;
          i {
            font-size: 1.5rem;
          }
          span{
            padding-left: .5rem;
            display: none;
          }
        }

        //LIST ITEMS
        &-list {
          @include flex-row-center-center(row, center, center);
          padding-right: 1rem;
          li {
            &:first-child {
              i {
                font-size: 2rem;
                transition: color 0.3s ease-in-out;
                color: $quinto-color;
                &:hover {
                  color: $white-color;
                }
              }
            }
            a {
              display: inline-block;
              padding: 0.3rem 1rem;
              color: $white-color;
              font-size: 1.2rem;
              &:hover {
                text-decoration: underline;
              }
            }
            &:last-child {
              position: relative;
              @include flex-row-center-center(row, none, center);
              span {
                color: $white-color;
                font-size: 1.2rem;
                font-weight: 600;
                padding-right: 0.3rem;
              }

              .profile-photo {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;
                cursor: pointer;
                @include flex-row-center-center(row, center, center);
                img {
                  position: relative;
                  top: 5px!important;
                  width: 135%;
                }
              }

              //Dropdown
              .profile-dropdown {
                display: none;
                position: absolute;
                top: 40px;
                right: 0;
                width: 200px;
                background-color: $grey1-color;
                ul {
                  @include flex-row-center-center(column, flex-start, none);
                  li {
                    padding: 0.3rem 0;
                    a {
                      color: $segundo-color;
                    }
                  }
                }
              }

              //SHOW on HOVER
              &:hover .profile-dropdown {
                display: block;
              }
            }
          }
        }
        display: none;
      }
      
      &-humburger {
        height: 60px;
        width:inherit;
        padding: .2rem 1rem;
        @include flex-row-center-center(row, space-between, center);

        &-logo {
          a {
            font-size: 2rem;
            color: $white-color;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
          }
        }

        //BUTTON
        &-humburger {
          .humburger {
            width: 40px;
            height: 40px;
            position: relative;
            padding: .2rem;
            cursor: pointer;
            span {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              width: 33px;
              height: 7px;
              background-color: $white-color;

              &::before {
                content: '';
                position: absolute;
                left: 0;
                top: -14px;
                display: block;
                width: 40px;
                height: 7px;
                background-color: $white-color;
              }
              &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 14px;
                display: block;
                width: 25px;
                height: 7px;
                background-color: $white-color;
              }

            }
          }
        }

      }
    
    }

    //HUMBURGER
    &-humburger {
      position: fixed;
      top: 60px;
      right: -100vw;
      background-color:$white-color ;
      width: 100vw;
      height: calc(100vh - 60px);
      z-index: 3;
      transition: all 0.2s ease-in-out;
      &.active {
        right: 0;
        display: block;
      }

      &-list {
        height: inherit;
        @include flex-row-center-center(column, center, center);
        ul {
          text-align: center;
          li {
            padding: .5rem 0;
            a {
              color: $segundo-color;
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    //SPECIAL
    #eventReturnMessage {
      position: fixed;
      max-width: 50vw;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s ease-in-out;
      &.show{
        z-index: 2;
        bottom: 10px;
      }
    }
    
    &-content {
      //as i used nav bar fixed, this line will add
      //margin-top in the order to add 70px on top
      max-width: 100vw;
      min-height: 100vh;
      overflow: hidden;
      overflow-y: scroll;
      @include flex-row-center-center(row, none, none);
      
      //CALENDAR
      &-calendar {
        max-width: 100vw;
        max-height: 700px;
        margin: 0 auto;
        margin-top: 60px;
        padding: 1rem;
      }

      //DASHBOARD
      &-dashboard {
        padding-top: 60px;
        max-width: 100vw;
        margin: 0 auto;
        //breadcrumb
        &-inner {
          padding-bottom: 60px;
          @include flex-row-center-center(column, none, none);
          //BreadCrumb
          &-breadcrumb {
            padding: 1rem;
            p {
              font-size: 1.5rem;
              color: rgba($color: $dark-color, $alpha: .7);
            }
          }

          //Statistic
          &-statistic {

            .statistic {
              display: grid;
              grid-template-columns: 1fr;
              gap: 1rem;
              padding-top: 1rem;
              &-card {
                padding: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: $white-color;
                border-radius: .2rem;
                box-shadow: 0 2px 2px rgba($color: $dark-color, $alpha: .2);
                &>p{
                  width: 20%;
                  padding: 1rem 0;
                  i {
                    font-size: 3.5rem;
                  }
                }
                .statistic-detail{
                  width: 80%;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-end;
                  p {
                    padding: .5rem 0;
                  }
                  h3 {
                    font-size: 2rem;
                  }
                }
                &.card-user {
                  background-color:$danger-color ;
                  border-bottom: 1rem solid red;
                }
                &.card-contact {
                  background-color: $primary-color;
                  border-bottom: 1rem solid blue;
                  
                }
                &.card-event {
                  background-color: $success-color;
                  border-bottom: 1rem solid green;
                }
                &.card-member {
                  background-color: $warning-color;
                  border-bottom: 1rem solid orange;
                }
              }
            }
          }

          //BODY
          &-body {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1fr;
            padding-top: 1rem;

            //LEFT
            &-left {

              &-today {

                .current-top {
                  padding: 2rem 1rem;
                  text-align: center;
                  background: url(/public/images/bg/profile_bg.jpg) no-repeat center center/cover;
                  position: relative;
                  &::before {
                    content:"";
                    position: absolute;
                    width: 100%;
                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba($color: $secondary-color, $alpha: .2);
                    z-index:1;
                  }

                  border-radius: .2rem .2rem 0 0;
                  color: $white-color;
                  h2 {
                    z-index: 2;
                    font-size: 3rem;
                  }
                  h5 {
                    font-size: 2rem;
                  }
                  p {
                    font-size: 1.8rem;
                  }
                }

                //current events
                .current-bottom {
                  &-event {
                    padding: 1rem;
                    border-radius: 0 0 .2rem .2rem;
                    border: 1px dashed $grey-color;
                    &-hour {
                      color: rgba($color: $dark-color, $alpha: .5);
                    }
                    h3 {
                      padding: .5rem 0;
                    }
                    & > p {
                      &:last-of-type {
                        margin-bottom: .5rem;
                      }
                    }
                    &-members {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      &-img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        &>img {
                          position: relative;
                          width: 130%;
                        }
                      }
                      p {
                        padding-left: .5rem;
                      }
                    }
                    &.today {
                      background-color: rgba($color: $success-color, $alpha: .2);
                    }
                  }
                }
                margin-bottom: 1rem;
              }

              //TODO - continuous
              &-calendar {
                width: 100%;
                height: 400px;
                margin-bottom: -12.5rem;
              }

            }

            //RIGHT
            &-right {
              padding-top: 1rem;
              
              //PROFILE
              &-profile {
                box-shadow: 0 2px  2px rgba($color: $dark-color, $alpha: .3);
                border-radius: .2rem;
                overflow: hidden;

                &-title {
                  padding: 1rem;
                  border: 1px solid $grey-color;
                  background-color: rgba($color: $dark-color, $alpha: .1);
                }

                &-body {

                  &-img {
                    padding-top: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    div {
                      width: 140px;
                      height: 140px;
                      border-radius: 50%;
                      overflow: hidden;
                      display: flex;
                      flex-direction: row;
                      justify-content: center;
                      align-items: center;
                      img {
                        position: relative;
                        top: 30px;
                        width: 150%;
                      }
                    }
                  }

                  //Names
                  &-names {
                    padding: .8rem 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h4 {
                      font-size: 1.3rem;
                    }
                    p {
                    }
                  }

                  //Statistic
                  &-stat {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    flex-direction: row;
                    grid-gap: .5rem;
                    & > div {
                      padding: .5rem;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      p{
                        font-size: 1.2rem;
                        color: $dark-color;
                      }
                      &#profile-user {
                        color: $success-color;
                      }
                      &#profile-member {
                        color: $warning-color;
                      }
                      &#profile-event {
                        color: $danger-color;
                      }
                      i {
                        font-size: 2rem;
                      }
                    }
                  }
                }
              }

              //CONTACT
              &-cont{
                margin-top: 1rem;
                .current-top {
                  padding: 1rem;
                  background-color: $grey1-color;
                  border-radius: .2rem 0.2rem 0 0; 
                }
                .current-bottom {
                  &-contact {
                    padding: 1rem;
                    border: 1px dashed $grey-color;
                  }
                  &> * {
                    i {
                      font-size: 1.2rem;
                    }
                    
                    a,span {
                      padding-left: 1rem;
                    }  
                  }
                }
              }
            }
          }
        }
      }

      //HOME PAGE
      &-home {
        min-width: 100%;
        h2{
          color: $terco-color;
          text-align: center;
          font-size: 1.6rem;
        }
        h4 {
          font-size: 1.2rem;
          text-align: center;
        }
        p {
          text-align: justify;
        }

        a.my-btn {
          display: inline-block;
          margin: 1rem 0 0.5rem 0;
          transition: all .2s ease-in-out;
          &:hover {
            color: $terco-color;
            background-color: rgba($color: $terco-color, $alpha: .2);
          }
        }


        //SHOWCASE 
        &-showcase {
          padding-top: 60px;
          max-width: 100vw;
          background-color: rgba($color: $primo-color, $alpha: .2);
          @include flex-row-center-center(column, none, none);

          &-inner {
            max-width: 1100px;
            @include flex-row-center-center(column, none, none);
            &-left {
              order: 2;
              line-height: 1.4;
              text-align: center;
              padding: 2rem;
  
              color: $terco-color;
              h1 {
                font-size: 2.3rem;
                padding: 1rem 0;
              }
              p {
                text-align: justify;
                word-spacing: 0;
                padding: 1rem 0;
              }
              a {
                display: inline-block;
                background-color: $primo-color;
                color: $white-color;
              }
            }
  
            &-right {
              order: 1;
              padding-top: 2rem;
            }
          }
        }

        //CALENDAR
        &-calendar {
          background-color: rgba($color: $grey-color, $alpha: .2);
          &-inner {
            max-width: 100vw;
            @include flex-row-center-center(column, none, none);
            &-right {
              line-height: 1.6;
              text-align: center;
              padding: 2rem;
              p {
                color: $terco-color;
                padding: .5rem 0;
              }
              a {
                background-color: $terco-color;
                color: $white-color;
              }
            }

            &-left {
              padding: 1rem;
            }
          }
        }

        //CONTACT
        &-contact {
          max-width: 100vw;
          background-color: rgba($color: $primo-color, $alpha: .2);
          
          &-inner {
            max-width: 1100px;
            @include flex-row-center-center(column, none, none);
            &-left {
              order: 2;
              line-height: 1.4;
              text-align: center;
              padding: 2rem;
  
              color: $terco-color;
              h2 {
                color: $primo-color;
              }
              p {
                text-align: justify;
                word-spacing: 0;
                padding: 1rem 0;
              }
              a {
                background-color: $primo-color;
                color: $white-color;
              }
            }
  
            &-right {
              order: 1;
              padding-top: 2rem;
            }
          }
        }

        //TUTORIEL 
        &-tutoriel {
          padding: 2rem;
          max-width: 100vw;
          background-color:$grey1-color;
          
          &-inner {
            @include flex-row-center-center(column, none, none);

            color: $white-color;
            h2 {
               color: $terco-color;
               margin-bottom: 2rem;
            }
            &-cards {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: auto;
              gap: 1rem;
              .cards {
                background-color: $white-color;
                box-shadow: 0 2px 2px rgba($color: $dark-color, $alpha: .1);
                border-radius: .3rem;
                &-text {
                  padding: 1rem;
                  color: $terco-color;
                  text-align: center;
                  a {
                    background-color: $terco-color;
                  }
                  p {
                    padding: 1rem 0;
                    line-height: 1.3;
                  }
                }
              }
            }
          }
        }

        //CONTACT-US
        &-contact-us {
          background-color: rgba($color: $primo-color, $alpha: .2);
          .form {
            color: $terco-color;
            &-group {
              background:0 ;
              form {
                width: 100%;
                @include flex-row-center-center(column, none, none);
                &>div {
                  width: 100%;
                  @include flex-row-center-center(column, none, none);
                  margin: .5rem 0 ;
                  &:last-of-type {
                    @include flex-row-center-center(row, center, center);
                    button {
                      padding: .7rem 2rem; 
                      font-size: 1rem;
                      background-color: $terco-color;
                      color: $white-color;
                      transition: all .2s ease-in-out;
                      &:hover {
                        color: $terco-color!important;
                        background-color: rgba($color: $terco-color, $alpha: .2)!important;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        //FOOTER
        &-footer {
          max-width: 100vw;
          height: 150px;
          margin: auto;
          background-color: $segundo-color;
          &-inner {
            ul {
              @include flex-row-center-center(column, center, center);
              li {
                color: $white-color;
                a {
                  color: $white-color;
                  display: inline-block;
                  padding: .7rem 0;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
          }

        }

      }

      //Every page will config its page from here
      &-profile {
        margin-top: 1rem;
        max-width:100vw;
        height: auto;
        
        &-new {
          width: inherit;
          height: inherit;
          @include flex-row-center-center(column, center, center);
        }

        &-inner {
          width:100% ;//calc(100vw - 60px);
          
          &-header {
            max-width: inherit;
            height: 350px;
            position: relative;
            overflow: hidden;
            padding-left: 1.5rem;
            margin-bottom: 1.2rem;
            &-img {
              height: inherit;
              max-width: inherit;
      
              img {
                width: 100%;
                object-fit: contain;
              }
            }
      
            &-profile {
              position: absolute;
              bottom: 0;
              background-color: rgba($color: $white-color, $alpha: .5);
              width: 100%;
              height: 100px;
      
              &-picture {
      
                position: relative;
                width: 100%;
                height: inherit;
                top: -70px;
                text-align: center;
                &-img {
                  width: 100px;
                  height: 100px;
                  margin: 0 auto;
                  border-radius: 50%;
                  border: 4px solid $white-color;
                  overflow: hidden;
                  position: relative;
                  top:-5px;
                  @include flex-row-center-center(column, center, center);
                  img {
                    position: relative;
                    top: 20px;
                    width: 150%;
                  }
                }
                
                &-text {
                  color: $dark-color;
                }
              }
      
            }
      
          }
      
          &-calendar {
            @include flex-row-center-center(column, space-between, flex-start);
            width: inherit;
            &-current {
              width: inherit;
              padding: 50px .5rem 1rem .5rem;
      
              //CURRENT EVENTS
              &.left {

                .current-top {

                  background: url('/public/images/bg/profile_bg.jpg') no-repeat center center/cover;
                  height: 200px;
                  @include flex-row-center-center(column, center, center);
                  color: $white-color;

                  h2 {
                    font-size: 3rem;
                  }
                  h5 {
                    font-size: 1.2rem;
                  }
                  p {
                    font-size: 1.2rem;
                  }

                }
        
                .current-bottom {
                  background-color: $white-color;
                  display: grid;
                  grid-template-rows: 1fr;
                  grid-gap: .5rem;
                  //event
                  &-event {
                    padding: .5rem;
                    line-height: 1.3;
                    background-color: $white-color;
                    box-shadow: 0 2px 2px rgba($color: $dark-color, $alpha: .2);
                    border-bottom: 1px dashed $grey-color;
                    border-left: 1px dashed $grey-color;
  
                    &.today {
                      background-color:rgba($color: $success-color, $alpha: .3) ;
                    }
                    &>* {
                      margin: .4rem 0;
                    }
                    
                    h3 {
                      strong{
                        color: $segundo-color;
                      }
                      &:last-of-type {
                        color: rgba($color: $dark-color, $alpha: .5);
                      }
                    }
                    p{
                      font-size: 14px;
                      color: rgba($color: $dark-color, $alpha: .7);
                    }
                    &-hour {
                      color: rgba($color: $dark-color, $alpha: .7);
                      @include flex-row-center-center(row, none, center);
                      i{
                        font-size: 1rem;
                      }
                      small {
                        margin-left: .3rem;
                      }
                    }
                    &-members {
                      position: relative;
                      @include flex-row-center-center(row, none, center);
        
                      &-img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        border: 3px solid $segundo-color;
                        position: relative;
                        @include flex-row-center-center(row, center, center);
                        
                        img {
                          width: 120%;
                        }
                      }
        
                      p {
                        margin-left: .3rem;
                      }
                    }
                  }
                }

              }
      
              //NEW CONTACTS
              &.right {
                padding: 0 .5rem 1rem 0.5rem;

                .current-top {
                  h3 {
                    font-size: 1rem;
                    padding: 1rem .5rem;
                    text-align: center;
                    background-color: $segundo-color;
                    color: $white-color;
                  }
                }
                
                .current-bottom {
                  display: grid;
                  grid-template-columns: 1fr;
                  grid-gap: .5rem;
                  &-contact {
                  border-bottom: 1px dashed $grey-color;
                  border-right: 1px dashed $grey-color;

                    padding: .5rem;
                    p {
                      margin: .3rem 0;
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      a:not([href="https"]) {
                        color: $segundo-color;
                      }
                    }
                    i{
                      font-size: 1rem;
                      margin-right: .4rem;
                    }
                  }
                }
                padding-bottom: 4rem;
              }
            }
            //CALENDAR
            &-calendar {

              width: 100vw;
              max-width: 950px;
              padding: .5rem;
              //background-color: $grey-color;
              border: 1px solid $grey-color;
              margin-bottom: 1rem;

            }

          }
        }

        //USER PROFILE 
        &.mainprofile {
          background: url(/public/images/bg/profile_bg.jpg) no-repeat center center/cover;
          min-height: 100vh;
          max-width: 100vw;
          .main-content-profile-inner {
            max-width: 100vw;
            &-header {
              padding: 0;
              margin: 0;
              &-profile {
                background-color: $grey2-color;
              }
            }
            &-calendarp {
              padding: .5rem;
              &-left {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-gap: .5rem;

                &>div {
                  background-color: $grey-color;
                  padding: 0.3rem;
                  &:last-of-type {
                    background-color: $grey3-color;
                  }
                }

                h3 {
                  margin: 0.5rem 0;
                  text-align: center;
                }

                p {
                  margin: .3rem 0;
                }
                &-button {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-around;
                  align-items: center;
                  margin-bottom: 60px;
                }
              }

            }
          }
        }

      }

      //ADD - EVENT 
      .user_event_add {
        display: none;
        width: 100vw;
        padding: 0 .5rem;
        margin-top: -40px;
        .event {
          max-width: 100vw;
          &-new {
            max-width: inherit;
            .form {
              width: calc(100vw - 10px);
              &-group {
                overflow-y: scroll;
                min-width: 350px;
                max-width: 650px;
                margin: 0 auto;
                max-height: 100vh;
                &-error {
                  display: none;
                  padding: .5rem;
                  &.show {
                    display: block;
                  }
                }
                
                background-color: $white-color;
                border-radius: .3rem;
                
                &-item {
                  input,textarea,select {
                      border: 1px solid $segundo-color;
                  }

                  &:last-of-type {
                      width: 250px;
                      margin: 0 auto;
                      button {
                      i{
                          font-size:1.2rem;
                      }
                      }
                  }

                  .member_list {
                    display: flex;
                    flex-wrap: wrap;
                    &>div {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      margin-right: .2rem;
                      position: relative;
                      overflow: hidden;
                      //Delete member
                      span {
                        position: absolute;
                        left: -30px;
                        display: inline-block;
                        padding: .3rem .6rem;
                        background: $danger-color;
                        color: $white-color;
                        transition: all .2s ease-in-out;
                        cursor: pointer;
                      }
                      input {
                        padding: .3rem;
                      }

                      &:hover{
                        span {
                          left: 0;
                        }
                      }
                    }
                  }
                }

                &-group {
                  display: flex;
                  flex-direction: column;
                }
              }
            }
          }
        }

        &.show {
          display: block;
          position: fixed;
          max-width: 100vw;
          min-height: 100vh;
          background-color: rgba($color: $segundo-color, $alpha: 0.3);
          z-index: 3;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      //LOGIN 
      .sign {
        display: grid;
        place-items: center;
        width: 100vw;
        padding: 0;
        position: relative;
        //padding-top: 0!important;
        &-error {
          margin-bottom: 2rem;
        }
        //S0CIAL NETWORK
        .social-network {
          @include flex-row-center-center(row, center, center);
          padding: 0.5rem 0;
          a {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0.2rem 0.3rem;
            clip-path: circle(40%);
            border-radius: 50%;
            border: 2px solid $default-color;
      
            @include flex-row-center-center(row, center, center);
            color: $default-color;
            transition: all 0.3s ease-in-out;
            i {
              font-size: 1.8rem;
            }
            &:hover {
              clip-path: circle(50%);
              padding: 0.3rem;
              color: $secondary-color;
            }
          }
        }
      
        .social-network + p {
          color: $secondary-color;
        }
      
        &-inner {

          position: relative;
          width: 350px;
          height: 550px;
          overflow: hidden;
          border-radius: 0.5rem;
          a {
            text-decoration: none;
            font-size: 1.2rem;
          }
          h3 {
            font-size: 2rem;
            padding: 0.5rem 0;
          }
          a {
            text-decoration: none;
            padding: 0.5rem 0;
            color: $default-color;
          }
          p {
            font-size: 1rem;
            padding: 0.5rem 0;
          }

          //FORMULAR
          .sign-form {
            width: 100%;
            form {
              width: 100%;
              @include flex-row-center-center(column, center, center);
              input {
                width: 90%;
                padding: 0.6rem 0.5rem;
                border-radius: 0.2rem;
                margin: 0.5rem 0;
                border: 0;
                outline-style: none;
                border-bottom: 4px solid #ccc;
              }
      
              .buttons {
                display: flex;
                justify-content: space-around;
                width: 100%;
                button {
                  border-radius: 0.2rem;
                  margin: 0.5rem 0;
                  outline-style: none;
                  cursor: pointer;
                  transition: all 0.3s ease-in-out;
                  border: 0;
                  border-bottom: 4px solid $primary-color;
                  font-size: 1rem;
                  &:first-of-type {
                    padding: 0.7rem .5rem;
                    background: $primary-color;
                    color: $dark-white-color;
                    border-bottom: 4px solid $segundo-color;

                  }
                  &:last-of-type {
                    padding: 0.7rem 1rem;
                    background: $segundo-color;
                    color: $dark-white-color;
                 }
                }
              }
            }
          }
      
          //Responsive
          //SIGN IN
          .sign-in {

            width: 100%;
            height: inherit;
            display: grid;
            grid-template-columns:  1fr;
            position: absolute;
            top: 0;
            left: 0;
            &-left {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: inherit;
              padding: 2rem 0;
              background: $white-color;
              @include flex-row-center-center(column, center, center);
              transition: all 0.6s ease-in-out;
              z-index: 2;
      
              &-title {
                font-size: 1.5rem;
                color: $segundo-color;
              }
              .sign-form {
                &-password {
                  color: $primary-color;
                  
                }
      
                form {
                  &>div {
                    &:last-of-type {
                      flex-direction: row;
                      margin-bottom:10px!important;
                      align-items: center;
                      label {
                        order: 2;
                        font-size: 12px;
                      }
                      input{
                        width: 20px;
                        order: 1;
                      }
                    }
                  }
                }
              }
      
              &.move-to-right {
                left: 50%;
                z-index: 1;
              }
            }
      
            &-right {
              position: absolute;
              top: 0;
              left: 50%;
              transition: all 0.6s ease-in-out;
              width: 100%;
              height: inherit;
              padding: 2rem 1rem;
              background: $segundo-color;
              @include flex-row-center-center(column, center, center);
              color: $dark-white-color;
              text-align: center;
              opacity: 0;
              z-index: 1;
      
              button {
                &:hover {
                  color: $white-color;
                }
              }
      
              &.move-to-left {
                left: 0;
                z-index: 2;
                opacity: 1;
              }
            }
          }
      
          //SIGN UP
          .sign-up {

            display: grid;
            grid-template-columns: 1fr;
            height: inherit;
            &-left {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: inherit;
              padding: 2rem 0;
              background: $white-color;
              @include flex-row-center-center(column, center, center);
              transition: all 0.6s ease-in-out;
              z-index: 2; // 1 default
              &-title {
                font-size: 1.5rem;
                color: $segundo-color;
              }
      
              &.move-to-right {
                left: 50%;
                z-index: 2;
              }
              //TODO - refactoring
              .sign-form {
                form {
                  padding: 0 .5rem;
                  &>div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom:10px!important;
                    
                    ul li {
                      font-size: 12px;
                      color: $danger-color;
                    }
                    input {
                      width: 100%;
                      margin: 0!important;
                    }
                    &:last-of-type {
                      flex-direction: row;
                      margin-bottom:10px!important;
                      align-items: center;
                      label {
                        order: 2;
                        font-size: 12px;
                      }
                      input{
                        width: 20px;
                        order: 1;
                      }
                    }
                    
                  }
                }
                
              }
            }
      
            &-right {

              position: absolute;
              top: 0;
              left: 50%;
              transition: all 0.6s ease-in-out;
              width: 100%;
              height: inherit;
              padding: 2rem 1rem;
              background: $segundo-color;
              @include flex-row-center-center(column, center, center);
      
              color: $dark-white-color;
              text-align: center;
              z-index: 1;// 2  default
              opacity: 1;
      
              button {
                background: $dark-white-color;
                color: $segundo-color;
              }
      
              &.move-to-left {
                left: 0;
                z-index: 1;
                opacity: 0;
              }
            }
          }

          &.active {
           .sign-in {
             display: none;
           }
          }
        }
      }

      //CONTACTS PAGE
      &-contact {
        margin-top: 60px;
        max-width: 100vw;
        min-height: 100vh;
        padding: .5rem;
        &-new {
          width: inherit;
          height: inherit;
          @include flex-row-center-center(column, center, center);
        }
      
        &-view {
          padding-top: 1rem;
          @include flex-row-center-center(column, none, none);
          
          .returnMessage {
            max-width: calc(100vw - 2rem);
            padding: 0 .5rem;

          }

          &-search {
            border: 1px solid $segundo-color;
            margin-bottom: 1rem;
            input,select {
              width: 100%;
              border: 1px solid $secondary-color;
              &:first-child {
                border-radius: 0.3rem 0 0 0.3rem;
              }
            }
            select {
              border-radius: 0 ;
            }
            .form-group-item {
              button {
                border-radius: 0 .3rem .3rem 0;
                font-size: 1rem;
              }
            }
          }
      
          &-add {
            @include flex-row-center-center(row, flex-end, center);
          }
      
          &-contents {
            max-width: calc(100vw - 2rem);
            overflow-x: scroll;
            .table {
              max-width: inherit;
              overflow-x: scroll;
              thead {
                tr {
                  width: 100%;
                  //TODO - à corriger (pas besoin d'utiliser le grid)
                  display: grid;
                  grid-template-columns: repeat(5, 1fr);
                  grid-gap: 0.2rem;
                  th {
                    width: 100%;
                    padding: 0.5rem 0;
                    text-align: left;
                    border-bottom: 1px solid $dark-color;
                  }
                }
              }
              tbody {
                tr {
                  width: 100%;
                  //TODO - à corriger (pas besoin d'utiliser le grid)
                  display: grid;
                  grid-template-columns: repeat(5, 210px);
                  grid-gap: 0.3rem;
                  background-color: $grey-color;
                  margin-bottom: 0.1rem;
                  th,
                  td {
                    width: 100%;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-left: 0.5rem;
                    &.actions {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: center;
                      & > * {
                        margin: 0 0.3rem;
                      }
                    }
                    .contact-view-content-profile {
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 0.5rem;
                      img {
                        width: 120%;
                        position: relative;
                      }
                    }
                    .contact-view-content-name {
                      font-size: 1.2rem;
                    }
                  }
                }
              }
            }
          }
          
        }

        &-pagination {
          display: flex;
          justify-content: center;
          padding: .5rem;
          .pagination {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
             li {
              display: block;
              border: none;
              padding: 0.7rem 0.8rem;
              border-radius: 0.2rem;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              text-align: center;
              color: $dark-color;
              margin: 0;
              &:hover {
                background-color: rgba($default-color, 0.4);
              }
              &.page-item {
                border: 1px solid $grey-color;
              }
              &.page-item.disabled {
                background: $grey1-color;
              }
              &.page-item.active {
                background: $primary-color;
                color: $white-color;
              }
              &.page-item span{
                display: inline-block;
              }
             }
          }
          padding-bottom: 60px;
        }
        
      }

      &-user {
        margin-top: 60px!important;
        max-width: 100vw;
        margin: auto;
        .form {
          padding: 2rem .5rem;
        }
      }
      
      //TUTORIEL
      &-tutoriel {
        max-width: 90vw;
        margin:  auto;
        margin-top: 60px;
        &-title {
          padding: 1rem 0;
          h1 {
            text-align: center;
          }
        }

        &-movy {
          video {
            max-width: 90vw;
            //margin-top: 60px;
            margin: 0 auto;
          }
        }
      }
    }

    //EVENT BTN ADD MODULE
    &-add-event-btn_css {
      position: fixed;
      bottom: 5rem;
      right: 2rem;
      width: 50px;
      height: 50px;
      border-radius: .2rem;
      background-color: $success-color;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
      a {
        padding: .7rem;
        font-size: 2rem;
        color: $white-color;
        display: block;
      }
    }
  }

}
