@media screen and (min-width : 725px) {
    
  #dashboard {



    .main {
      //Nav bar is fixed on top
      &-header {
        
        &-nav {
          height: 60px;
          //max-width: 1100px;
          margin: auto;
          
          @include flex-row-center-center(row, space-between, center);
          //LOGO ou SITE NAME
          &-logo {
            a {
              font-size: 2rem;
              color: $white-color;
              font-family: "Poppins", sans-serif;
              font-weight: 700;
            }
            //@include flex-row-center-center(row, center, center);
          }
  
          //SEARCH BAR
          &-search {
            min-width: 320px;
            height: 60px;
            input {
              width: 100%;
              height: 50px;
              display: block;
              font-size: 1rem;
            }
  
            //RESULT 
            &-result {
              background-color: $white-color;
              position: relative;
              top: -10px;
              display: none;
              &.show {
                display: block;
              }
  
              ul {
                max-height: 300px;
                border-radius: 0 0 .5rem .5rem;
                overflow-y: scroll;
                li {
                  padding: 0.5rem;
                  @include flex-row-center-center(row, none, center);
                  &>div {
                    @include flex-row-center-center(row, center, center);
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    img {
                      width: 170%;
                    }
                    border: 1px solid $grey-color;
                  }
                  a{
                    width: 100%;
                    padding-left: .5rem;
                    color: $segundo-color;
                  }
                  transition: all 0.2s ease-in-out;
                  &:hover{
                    background-color: $grey-color;
                  }
                }
  
              }
  
              &.searchResultat {
                
              }
            }
          }
          
          
          //LIST ITEMS
          &-list {
            @include flex-row-center-center(row, center, center);
  
            li {
              &:first-child {
                i {
                  font-size: 2rem;
                  transition: color 0.3s ease-in-out;
                  color: $quinto-color;
                  &:hover {
                    color: $white-color;
                  }
                }
              }
              a {
                display: inline-block;
                padding: 0.3rem 1rem;
                color: $white-color;
                font-size: 1.2rem;
                &:hover {
                  text-decoration: underline;
                }
              }
              &:last-child {
                position: relative;
                @include flex-row-center-center(row, none, center);
                span {
                  color: $white-color;
                  font-size: 1.2rem;
                  font-weight: 600;
                  padding-right: 0.3rem;
                }
  
                .profile-photo {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  overflow: hidden;
                  cursor: pointer;
                  @include flex-row-center-center(row, center, center);
                  img {
                    position: relative;
                    top: -1px;
                    width: 135%;
                  }
                }
  
                //Dropdown
                .profile-dropdown {
                  display: none;
                  position: absolute;
                  top: 40px;
                  right: 0px;
                  width: 200px;
                  background-color: $grey1-color;
                  ul {
                    @include flex-row-center-center(column, flex-start, none);
                    li {
                      padding: 0.3rem 0rem;
                      a {
                        color: $segundo-color;
                      }
                    }
                  }
                }
  
                //SHOW on HOVER
                &:hover .profile-dropdown {
                  display: block;
                }
              }
            }

          }
          display: flex;
        }
        
        &-humburger {
          display: none;
        }
      
      }

      
      &-content {
        //as i used nav bar fixed, this line will add
        //margin-top in the order to add 70px on top
        max-width: 100vw;
        height: 100vh;
        //padding-left: 60px;
        @include flex-row-center-center(row, none, none);
      
        //CALENDAR
        &-calendar {
          min-width: 100vw;
          max-height: 900px;
        }

        //DASHBOARD
        &-dashboard {
          
          //breadcrumb 
          &-inner {
            @include flex-row-center-center(column, none, none);

            //BreadCrumb
            &-breadcrumb {
              padding: 1rem;
            }

            //Statistic
            &-statistic {
              .statistic {
                grid-template-columns: repeat(2,1fr);
              }
            }

            //BODY 
            &-body {
              &-left {
                //TODO - continuous
                &-calendar {
                  margin-bottom: .8rem;
                }
              }

              //RIGHT
              &-right {
                //PROFILE
                &-profile {
                  &-body {

                    &-img {
                      div {
                        width: 150px;
                        height: 150px;
                      }
                    }

                  }
                }
              }
            }

          }
        }

        //HOME PAGE
        &-home {
          max-width: inherit;
          h2{
            text-align: center;
            font-size: 1.6rem;
            color: $terco-color;
          }
          h4 {
            font-size: 1.2rem;
            text-align: center;
          }
          p {
            text-align: justify;
          }
  
          a.my-btn {
            padding: .8rem 2rem;
            display: inline-block;
          }
          //SHOWCASE 
          &-showcase {
            height: 600px;
            &-inner {
              max-width: 1100px;
              margin: auto;
              display: grid;
              grid-template-columns: repeat(2,1fr);
              gap: 1rem;
              align-items: center;

              &-left {
                order: 1;
                padding: 2rem;
                h1 {
                  font-size: 3rem;
                }
              }
              &-right {
                padding: 0 2rem;
              }
              
            }
          }
  
          //CALENDAR
          &-calendar {
            &-inner {
              height: 450px;
              max-width: 1100px;
              margin: auto;
              display: grid;
              grid-template-columns: repeat(2,1fr);
              gap: 1rem;
              align-items: center;
            }
          }
  
          //CONTACT
          &-contact {
            &-inner {
              height: 450px;
              max-width: 1100px;
              margin: auto;
              display: grid;
              grid-template-columns: repeat(2,1fr);
              gap: 1rem;
              align-items: center;
            }
          }
  
          //TUTORIEL 
          &-tutoriel {
            
            &-inner {
              &-cards {
                grid-template-columns: repeat(2,1fr);
              }
            }
          }

          //CONTACT-US
          &-contact-us {
            max-width: 100vw;
            .form {
              max-width: 500px;
              margin: auto;
            }
          }


        }

        //Every page will config its page from here
        &-profile {
            margin-top: 1rem;
            max-width:calc(100vw - 60px);
            height: auto;
        
            &-inner {
                width:100% ;//calc(100vw - 60px);
                &-calendar {
                    @include flex-row-center-center(column, space-between, flex-start);
                    width: inherit;
                    &-current {
                        width: inherit;
                        padding: 50px .5rem 1rem .5rem;
                
                        //CURRENT EVENTS
                        &.left {

                            .current-top {

                            background: url('/public/images/bg/profile_bg.jpg') no-repeat center center/cover;
                            height: 200px;
                            @include flex-row-center-center(column, center, center);
                            color: $white-color;

                            h2 {
                                font-size: 3rem;
                            }
                            h5 {
                                font-size: 1.2rem;
                            }
                            p {
                                font-size: 1.2rem;
                            }

                            }
                    
                            .current-bottom {
                            background-color: $white-color;
                            display: grid;
                            grid-template-rows: 1fr;
                            grid-gap: .5rem;
                            //event
                            &-event {
                                padding: .5rem;
                                line-height: 1.3;
                                background-color: $white-color;
                                box-shadow: 0 2px 2px rgba($color: $dark-color, $alpha: .2);
                                border-bottom: 1px dashed $grey-color;
                                border-left: 1px dashed $grey-color;
            
                                &.today {
                                background-color:rgba($color: $success-color, $alpha: .3) ;
                                }
                                &>* {
                                margin: .4rem 0;
                                }
                                
                                h3 {
                                strong{
                                    color: $segundo-color;
                                }
                                &:last-of-type {
                                    color: rgba($color: $dark-color, $alpha: .5);
                                }
                                }
                                p{
                                font-size: 14px;
                                color: rgba($color: $dark-color, $alpha: .7);
                                }
                                &-hour {
                                color: rgba($color: $dark-color, $alpha: .7);
                                @include flex-row-center-center(row, none, center);
                                i{
                                    font-size: 1rem;
                                }
                                small {
                                    margin-left: .3rem;
                                }
                                }
                                &-members {
                                position: relative;
                                @include flex-row-center-center(row, none, center);
                    
                                &-img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    border: 3px solid $segundo-color;
                                    position: relative;
                                    @include flex-row-center-center(row, center, center);
                                    
                                    img {
                                    width: 120%;
                                    }
                                }
                    
                                p {
                                    margin-left: .3rem;
                                }
                                }
                            }
                            }

                        }
                
                        //NEW CONTACTS
                        &.right {
                            padding: 0 .5rem 1rem 0.5rem;

                            .current-top {
                            h3 {
                                font-size: 1rem;
                                padding: 1rem .5rem;
                                text-align: center;
                                background-color: $segundo-color;
                                color: $white-color;
                            }
                            }
                            
                            .current-bottom {
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-gap: .5rem;
                            &-contact {
                            border-bottom: 1px dashed $grey-color;
                            border-right: 1px dashed $grey-color;

                                padding: .5rem;
                                p {
                                margin: .3rem 0;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                a:not([href="https"]) {
                                    color: $segundo-color;
                                }
                                }
                                i{
                                font-size: 1rem;
                                margin-right: .4rem;
                                }
                            }
                            }
                        }
                    }
            
                    //CALENDAR
                        &-calendar {
                        width: calc(100vw - 60px);
                        max-width: 950px;
                        padding: .5rem;
                        //background-color: $grey-color;
                        border: 1px solid $grey-color;
                        margin-bottom: 1rem;
                    }

                }
            }

              //USER PROFILE 
            &.mainprofile {
              .main-content-profile-inner {
                &-calendarp {
                  &-left {
                    grid-template-columns: repeat(2,1fr);
                    &-button {
                      display: flex;
                      flex-direction: row;
                      justify-content: space-around;
                      align-items: center;
                      margin-bottom: 60px;
                    }
                  }

                }
              }
            }
            

        }

        //LOGIN - SIGN UP
        .sign {
          display: grid;
          place-items: center;
          width: 100vw;
          padding: 0;
          position: relative;
          padding-top: 0px!important;
          &-error {
            margin-bottom: 2rem;
          }
          
          &-inner {
            position: relative;
            width: 700px;
            height: 550px;
            overflow: hidden;
            border-radius: 0.5rem;
            a {
              text-decoration: none;
              font-size: 1.2rem;
            }
            h3 {
              font-size: 2rem;
              padding: 0.5rem 0;
            }
            a {
              text-decoration: none;
              padding: 0.5rem 0;
              color: $default-color;
            }
            p {
              font-size: 1rem;
              padding: 0.5rem 0;
            }
            //FORMULAR
            .sign-form {
              width: 100%;
              form {
                width: 100%;
                @include flex-row-center-center(column, center, center);
                input {
                  width: 90%;
                  padding: 0.6rem 0.5rem;
                  border-radius: 0.2rem;
                  margin: 0.5rem 0;
                  border: 0;
                  outline-style: none;
                  border-bottom: 4px solid #ccc;
                }
        
                button {
                  padding: 0.7rem 1.2rem;
                  border-radius: 0.2rem;
                  margin: 0.5rem 0;
                  outline-style: none;
                  cursor: pointer;
                  color: $dark-white-color;
                  background: $segundo-color;
                  transition: all 0.3s ease-in-out;
                  border: 0;
                  border-bottom: 4px solid $warning-color;
                  font-size: 1rem;
                }
                
                .buttons {
                  display: flex;
                  justify-content: center;
                  width: 100%;
                  button {
                    &:first-of-type {
                      display: none;
                    }
                  }
                }
              }
            }
        
            //Responsive
            //SIGN IN
            .sign-in {
              width: 100%;
              height: inherit;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              position: absolute;
              top: 0;
              left: 0;
              &-left {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: inherit;
                padding: 2rem 0;
                background: $white-color;
                @include flex-row-center-center(column, center, center);
                transition: all 0.6s ease-in-out;
                z-index: 2;
        
                &-title {
                  font-size: 1.5rem;
                  color: $segundo-color;
                }
                .sign-form {
                  &-password {
                    color: $primary-color;
                    
                  }
        
                  form {
                    &>div {
                      &:last-of-type {
                        flex-direction: row;
                        margin-bottom:10px!important;
                        align-items: center;
                        label {
                          order: 2;
                          font-size: 12px;
                        }
                        input{
                          width: 20px;
                          order: 1;
                        }
                      }
                    }
                  }
                }
        
                &.move-to-right {
                  left: 50%;
                  z-index: 1;
                }
              }
        
              &-right {
                position: absolute;
                top: 0;
                left: 50%;
                transition: all 0.6s ease-in-out;
                width: 50%;
                height: inherit;
                padding: 2rem 1rem;
                background: $segundo-color;
                @include flex-row-center-center(column, center, center);
                color: $dark-white-color;
                text-align: center;
                opacity: 0;
                z-index: 1;
        
                button {
                  &:hover {
                    color: $white-color;
                  }
                }
        
                &.move-to-left {
                  left: 0;
                  z-index: 2;
                  opacity: 1;
                }
              }
            }
        
            //SIGN UP
            .sign-up {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              height: inherit;
              &-left {
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: inherit;
                padding: 2rem 0;
                background: $white-color;
                @include flex-row-center-center(column, center, center);
                transition: all 0.6s ease-in-out;
                z-index: 1;
                &-title {
                  font-size: 1.5rem;
                  color: $segundo-color;
                }
        
                &.move-to-right {
                  left: 50%;
                  z-index: 2;
                }
                //TODO - refactoring
                .sign-form {
                  form {
                    padding: 0 .5rem;
                    &>div {
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      margin-bottom:10px!important;
                      
                      ul li {
                        font-size: 12px;
                        color: $danger-color;
                      }
                      input {
                        width: 100%;
                        margin: 0!important;
                      }
                      &:last-of-type {
                        flex-direction: row;
                        margin-bottom:10px!important;
                        align-items: center;
                        label {
                          order: 2;
                          font-size: 12px;
                        }
                        input{
                          width: 20px;
                          order: 1;
                        }
                      }
                    }
                  }
                  // .form-groups {
                  
                  //   width: 100%;
                  //   padding: 0 1rem;
                  //   input {
                  //     width: 50px;
                  //     margin-left: 0.3rem;
                  //   }
                  //   label {
                  //     font-size: 12px;
                  //   }
                  // }
                }
              }
        
              &-right {
                position: absolute;
                top: 0;
                left: 50%;
                transition: all 0.6s ease-in-out;
                width: 50%;
                height: inherit;
                padding: 2rem 1rem;
                background: $segundo-color;
                @include flex-row-center-center(column, center, center);
        
                color: $dark-white-color;
                text-align: center;
                z-index: 2;
                opacity: 1;
        
                button {
                  background: $dark-white-color;
                  color: $segundo-color;
                }
        
                &.move-to-left {
                  left: 0;
                  z-index: 1;
                  opacity: 0;
                }
              }
            }

            &.active {
              .sign-in {
                display: block;
              }
              }
          }
        }

        //CONTACTS PAGE
        &-contact {
          max-width: calc(100vw - 60px );
          margin: 0 auto;
          padding: 0;
          margin-top: 60px;
          &-view {
            &-contents {
              max-width: calc(100vw - 2rem - 60px);
              margin: 0 auto;
              overflow-x: scroll;
              .table {
                max-width: inherit;
                overflow-x: scroll;
                thead {
                  tr {
                    width: 100%;
                    //TODO - à corriger (pas besoin d'utiliser le grid)
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-gap: 0.2rem;
                    th {
                      width: 100%;
                      padding: 0.5rem 0;
                      text-align: left;
                      border-bottom: 1px solid $dark-color;
                    }
                  }
                }
                tbody {
                  tr {
                    width: 100%;
                    //TODO - à corriger (pas besoin d'utiliser le grid)
                    display: grid;
                    grid-template-columns: repeat(5, 210px);
                    grid-gap: 0.3rem;
                    background-color: $grey-color;
                    margin-bottom: 0.1rem;
                    th,
                    td {
                      width: 100%;
                      text-align: left;
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      padding-left: 0.5rem;
                      &.actions {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        & > * {
                          margin: 0 0.3rem;
                        }
                      }
                      .contact-view-content-profile {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 0.5rem;
                        img {
                          width: 120%;
                          position: relative;
                        }
                      }
                      .contact-view-content-name {
                        font-size: 1.2rem;
                      }
                    }
                  }
                }
              }
            }
            
          }
        }

        //USER - PROFILE - EDIT FORM
        &-user {
          width: 80vw;
          margin:  auto;
        }

        
      }

      //EVENT BTN ADD MODILE
      &-add-event-btn_css {
        display: none;
      }
    }
  }
}