
{% extends 'base.html.twig' %}

{% block title %}Contact - Page d'accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            font-size: 1.2rem;
            color: #000;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="contact">

        <p>Bonjour {{ names }},</p>

        <p>De : {{ from }}</p>
        <p>To : {{ to }}</p>
        <p>Date : {{ 'now' | date('d-m-Y H:i') }}</p>
        <p>Sujet : {{ subject }}</p>
        <p>Message : </p>
        <p>{{ message }}</p>

    </section>
{% endblock %}