{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{%  block stylesheets %}
    <style>
        h1 {
            text-align: center;
            font-size: 2rem;
        }
    </style>
{% endblock %}

{% block body %}

    <h1>Contacaly.</h1>

    <p>Bonjour {{ to.name|upper }} {{ to.lastname|capitalize }},</p>

    <p>De : {{ from.email }}</p>
    <p>To : {{ to.email }}</p>
    <p>Date : {{ dateSent | date('d-m-Y') }}</p>
    <p>Sujet : {{ subject }}</p>
    <p>Message : </p>
    <p>{{ message }}</p>


{% endblock %}
