{% extends 'base.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block stylesheets %}
    <style>
        h1 {
            font-size: 1.2rem;
            color: #000;
        }
    </style>
{% endblock %}
{% block body %}

    <h1>Bonjour {{ names | upper }},</h1>
    <br>
    <p>Vous avez été invité tant que membre dans un événement intitulé : {{ event.title }}.</p>
    <p>Ceci aura lieu du {{ event.startAtDate | date("m-d-Y à H:i") }} au {{ event.endAtDate | date("m-d-Y à H:i") }}.</p>
    <br>
    <a href="{{ url('users-calendar',{id:event.users.id}) }}" class="my-btn my-btn-default">Voir l'événement</a>.
    <br>
    <br>
    <br>
    <p>Cordialement.</p>

{% endblock %}
