{% extends 'base.html.twig' %}

{% block title %}Suppression de compte{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            font-size: 1.2rem;
            color: #000;
        }
    </style>
{% endblock %}
{% block body %}

    <h1>Bonjour {{ names | upper }},</h1>
    <br>
    <p>Votre demande de suppression de compte  a été prise en compte. Et nous débutons le processus de suppression de vos données sur nos bases de données.</p>
    <p>Cette opération prendre au plus tard 24 heures.</p>
    <br>
    <br>
    <br>
    <p>A bientôt {{ names | upper }}</p>

{% endblock %}
