{%  extends 'base.html.twig' %}
{% block title %}{{ button_message =="edit"?"Personnalisation de Catégorie de contact":'Création de nouveau catégorie' }}{% endblock %}

{%  block body %}


	<!--Content from viewer-->
	<div id="event" class="event" style="margin: auto;">
		<div class="event-new">

			<div class="form">

				<div class="form-title">
					<h3>{{ button_message =="edit"?"Personnalisation de Catégorie de contact":'Création de nouveau catégorie' }}</h3>
				</div>

				<div class="row">

					{{ form_start(form, {attr:{'class':"form-group"}}) }}
						{{ form_row(form.category) }}
					<div class="btns-area">
						<a href="{{ path("admin-category-index") }}" class="my-btn my-btn-secondary"><i class="fal fa-backspace"></i></a>
						<button type="submit" class="my-btn my-btn-success">{{ button_message =="edit"?'<i class="fal fa-pencil-alt"></i>':'<i class="fal fa-save"></i>' }}</button>
					</div>
					{{ form_end(form) }}
				</div>
			</div>

		</div>
	</div>


{%  endblock %}