{% extends 'base.html.twig' %}

{% block title %}Liste de catégories des utilisateurs{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
		  rel="stylesheet"
		  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
		  crossorigin="anonymous">
	<style>
		ul {
			padding: 0;
			margin: 0;
		}
		i {
			font-size: 1.5rem;
		}
		.contact {
			margin: 60px auto;
		}

		#btn-add {
			padding: 2rem  0 0 0;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
		}
		#btn-add a {
			display: inline-block;
			text-align: right;
		}
		.profile-dropdown ul hr{
			margin: 0;
		}
		 a{
			text-decoration: none;
		}
		 #dashboard .main-header-nav-search {
			 height: 50px;
		 }
		#user-title h1 {
			font-size: 2rem;
			color: #3A0CA3;
		}
	</style>
{% endblock %}
{% block body %}
	<!--Content from viewer-->
	<div id="contact" class="contact">
		<div class="contact-view my-container">

			<div class="mt-4" id="user-title">
				<h1 class="text-center">Gestion des categories de contacts</h1>
			</div>

			<div class="returnMessage">
				{% for message in app.flashes('success') %}
					<p class="my-alert my-alert-success">{{ message }}</p>
				{% endfor %}
			</div>
			
			<div class="contact-view-add"  id="btn-add">
				<a class="my-btn my-btn-success float-right" href="{{ path('admin-category-new') }}">
					<i class="far fa-plus"></i>
				</a>
			</div>

			<div class="contact-view-contents mt-5">
				<div class="row mb-5 pb-5">
					{% for category in categories %}
						<div class="col col-md-4 col-12 mb-4">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">{{category.category}}</h5>
									<div>
										<div class="row">
											<div class="col">
												<a href="{{path('admin-category-edit',{id:category.id}) }}" class="my-btn my-btn-primary">Edit</a>
											</div>
											<div class="col">
												<form action="{{path('admin-category-delete',{id:category.id}) }}" method="POST"
													  onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette categotie?')">
													<input type="hidden" name="_method" value="DELETE">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
													<button type="submit" class="my-btn my-btn-danger">Delete</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
{% endblock %}

