{%  extends 'admin/base.html.twig' %}
{% block title %}Création de nouvel événement{% endblock %}

{%  block body %}

    <!--MAIN CONTENT-->
    <section class="main-content">

        <aside class="main-content-aside">

            <div class="main-content-aside-mvp">
                <nav class="main-content-aside-mvp-list">
                    <ul>
                        <li><i class="far fa-bars"></i></li>
                        <li><a href="/contact.html"><i class="fal fa-user-friends"></i></a></li>
                        <li><a href="/calendar.html"><i class="fal fa-calendar-alt"></i></a></li>
                        <li><a href="/message.html"><i class="fal fa-envelope"></i></a></li>
                    </ul>
                </nav>
            </div>

            <div class="main-content-aside-setting">
                <a href="/setting.html">
                    <i class="fal fa-cogs"></i>
                </a>
            </div>

        </aside>

        <div class="main-content-content">

            <!--Content from viewer-->
            <div id="event" class="event">
                <div class="event-new">

                    <div class="form">

                        <div class="form-title">
                            <h3>Création de nouvel événement</h3>
                        </div>

                        <form class="form-group" action="" method="post" enctype="multipart/form-data">

                            <div class="form-group-item">
                                <label for="title">Titre*</label>
                                <input type="text" name="title" id="title" placeholder="Titre">
                            </div>

                            <div class="form-group-item checkbox" id="all_days_js">
                                <input type="checkbox" name="all_days" id="all_days">
                                <label for="all_days">Toute la journée</label>
                            </div>

                            <div class="form-group-group row-2">

                                <div class="form-group-item form-group-datetime">

                                    <div class="">
                                        <label for="start_at">Début*</label>
                                        <input type="date" name="start_at" id="start_at" placeholder="Début">
                                    </div>

                                    <div class="">
                                        <label for="start_at_time">Heure*</label>
                                        <input type="time" name="start_at_time" id="start_at_time" placeholder="Heure">
                                    </div>

                                </div>

                                <div class="form-group-item form-group-datetime">

                                    <div class="">
                                        <label for="end_at">Fin*</label>
                                        <input type="date" name="end_at" id="end_at" placeholder="Début">
                                    </div>

                                    <div class="">
                                        <label for="end_at_time">Heure*</label>
                                        <input type="time" name="end_at_time" id="end_at_time" placeholder="Heure">
                                    </div>

                                </div>
                            </div>

                            <div class="form-group-item">
                                <label for="description">Description*</label>
                                <textarea name="description" id="description" cols="10" rows="2"></textarea>
                            </div>

                            <div class="form-group-item">
                                <label for="avatar">Avatar</label>
                                <input type="file" name="avatar" id="avatar" placeholder="avatar">
                            </div>

                            <div class="form-group-item">
                                <label for="members">Invités</label>
                                <input type="text" name="members" id="members" placeholder="Entrer nom ou email" multiple>
                            </div>

                            <div class="form-group-item">
                                <label for="emplacement">Emplacement</label>
                                <input type="text" name="emplacement" id="emplacement" placeholder="emplacement">
                            </div>

                            <div class="form-group-item">
                                <small>* Champs obligatoires</small>
                            </div>

                            <div class="form-group-item">
                                <button type="submit" class="my-btn ">Retourner</button>
                                <button type="submit" class="my-btn my-btn-secondary">Créer</button>
                            </div>

                        </form>

                    </div>

                </div>
            </div>

        </div>

    </section>

{%  endblock %}