{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des événements{% endblock %}

{% block body %}
    <!--Content from viewer-->
    <div id="contact" class="contact">
        <div class="contact-view my-container">

            <div class="contact-view-search">
                <input type="search" name="contact" id="contact" placeholder="Recherche de contact" multiple>
            </div>

            <div class="contact-view-add">
                <a class="my-btn my-btn-success" href="{{ path('contacts-new') }}"><i class="far fa-plus"></i></a>
            </div>

            <div class="contact-view-contents">

                <table class="table">

                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for contact in contacts %}
                            <tr>

                                <th scope="row">
                                    <div class="contact-view-content-profile">
                                        <img src="/images/interface/logo1.png" alt="logo" srcset="">
                                    </div>
                                    <div class="contact-view-content-name">
                                        <span>{{ contact.names }}</span>
                                    </div>
                                </th>

                                <td>
                                    <a href="mailto: {{ contact.email }}">{{ contact.email|slice(0, 20) }} ...</a>
                                </td>
                                <td>{{ contact.phone }}</td>
                                <td>Collaborateur</td>

                                <td class="actions">

                                    <a class="my-btn my-btn-primary" href="{{ path('contacts-edit',{id:contact.id}) }}"><i class="far fa-pencil-alt"></i></a>

                                    <form method="post" action="{{ path('contacts-delete', {id:contact.id })}}"
                                          style="display: inline-block" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer?')">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                        <button class="my-btn my-btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    </form>

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

    </div>
{% endblock %}
