{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <style>
        ul {
            padding: 0;
            margin: 0;
        }
        i {
            font-size: 1.5rem;
        }
        .card .picture {
            width: 100%;
            height: 200px;
            overflow: hidden;
        }

        .card .card-title {
            font-size: 1rem;
        }

        .contact {
            margin-top: 60px;
        }
        #btn-add {
            padding: 2rem  0 0 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
        #btn-add a {
            display: inline-block;
            text-align: right;
        }
        #user-title {
            padding: 2rem 0;
            margin: auto;
        }
        #user-title h1 {
            font-size: 2rem;
            color: #3A0CA3;
        }

        .profile-dropdown ul hr{
            margin: 0;
        }

        a{
            text-decoration: none;
        }

        #dashboard .main-header-nav-search {
            height: 50px;
        }

    </style>
{% endblock %}

{% block body %}
    <!--Content from viewer-->
    <div id="contact" class="contact user pb-3">
        <div class="returnMessage">
            {% for message in app.flashes('success') %}
                <p class="my-alert my-alert-success">{{ message }}</p>
            {% endfor %}
        </div>


        <div class="contact-view ">
            <div class="" id="user-title">
                <h1 class="text-center">Gestion des utilisateurs</h1>
            </div>
            <div class="contact-view-add mb-2"  id="btn-add">
                <a class="my-btn my-btn-success" href="{{ path('admin-users-add') }}">
                    <i class="fal fa-user-plus"></i>
                </a>
            </div>

            <div class="container">
              <div class="row pb-5">
                  {% for user in users %}
                      <div class="col col-xl-3  col-md-4 col-sm-6 col-12 mb-4">
                          <div class="card">
                                <div class="picture" >
                                    {% if user.picture %}
                                        <img src="{{ vich_uploader_asset(user, 'imageFile')}}" alt="Image de {{ user.name }}" />
                                    {% else %}
                                        <img src="https://source.unsplash.com/collection/190727/460x380" class="card-img-top" alt="image de {{ user.name }}">
                                    {% endif %}
                                </div>
                              <div class="card-body">
                                  <h5 class="card-title">Nom : {{ user.name }} {{ user.lastname }}</h5>
                                  <p class="card-text">Email : {{ user.email }} </p>
                                  <p class="card-text">Mot de passe : ***</p>
                              </div>
                              <div class="card-footer">
                                  <div class="row row-cols-4">

                                      <div class="col">
                                          <a href="{{ path("users-profile",{id:user.id}) }}"
                                             class="btn btn-secondary">
                                              <i class="fal fa-eye"></i>
                                          </a>
                                      </div>

                                      <div class="col">
                                          <a href="{{ path("admin-users-edit",{id:user.id}) }}" class="btn btn-primary">
                                              <i class="fal fa-pencil-alt"></i>
                                          </a>
                                      </div>

                                      <div class="col">
                                          <form action="{{ path("admin-users-delete",{id:user.id}) }}"
                                                method="post"
                                                onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet utilisateur?')" >
                                              <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                              <input type="hidden" name="role" value="admin">
                                              <button class="btn btn-danger"><i class="fal fa-trash-alt"></i></button>
                                          </form>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  {%  endfor %}
              </div>
            </div>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
            integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
            crossorigin="anonymous"></script>
{% endblock %}
